[2015-04-23 06:54] sazzer opened #1 "Embedded Postgres doesn't shut down properly"
I've used the postgresql-embedded library to run up a Postgres database for my application when running in Integration Test or Development mode. This starts up perfectly well by using the example from the Readme, but shutting down doesn't work correctly. Either by calling

    PostgresProcess.stop()

or else

    Executable.stop()

If I call PostgresProcess.stop() then I get an exception thrown, w

[2015-04-23 07:07] smecsia commented on #1
@sazzer Thank you for the request.
Which OS are you using?

[2015-04-23 07:13] sazzer commented on #1
That helps, doesn't it?

I'm using 64 bit Linux Ubuntu 14.10, running with maven 3.2.2 and Java 8u5.
On 23 Apr 2015 08:07, "Ilya" <notifications@github.com> wrote:

[2015-04-23 08:14] smecsia commented on #1
Hmm. I'm actually have the same set and cannot reproduce the described problem.
By the way, you should use `stop` method of the `PostgresProcess` instance, and not of the `Executable` at all.
It seems that the artifact store is already cleaned up when you call `stop` method of the process. This could be caused by the call to `stop` of Executable, as it cleans after itself. Please try not to use it

[2015-04-23 08:18] sazzer commented on #1
I only tried the method on Executable because the other one threw the
exception. I understand that's not right but I wanted to just see if it
helped.

If it matters, this is being called from Spring, starting in an init-method
call and the actual shutdown here in a destroy-method call. I don't see
that this should make any difference though, unless there are other Java
shutdown hooks happening too

[2015-04-23 11:11] smecsia commented on #1
@sazzer There is a shutdown hook actually registered within the Flapdoodle's Executable implementation... But I believe it should not be called since you're stopping the process manually.
Can you check one thing? Try to stop  service not by the `destroy-method`, but within the `tearDown` method of your test suite.

[2015-04-23 11:13] sazzer commented on #1
I'll give it a go later, though the use of destroy-method was because I do
dev using by just running mvn cargo:run and it starts up a full tomcat with
everything ready to go. If that doesn't work then it might be vagrant
time...
On 23 Apr 2015 12:11, "Ilya" <notifications@github.com> wrote:

[2015-04-23 17:51] sazzer commented on #1
Yes, if I call process.stop() manually when the code is running then it shutsdown cleanly. So it looks like it's simply that the Executable Shutdown hook is firing *before* the Spring shutdown hook - which is believable, since Spring starts up the Executable in the first place, so the Spring shutdown hook will be registered first.

I have just tried changing the Daemon Process flag to false - whic

[2015-04-24 10:46] smecsia commented on #1
@sazzer, I've just pushed the commit, which has tiny changes in cleanup behavior - it cleans the artifact store directory just after the `pg_ctl stop` command is executed successfully. Can you check if it helps?

[2015-04-24 19:18] sazzer commented on #1
Just checked out the trunk, built it, and made my code use the new 1.2-SNAPSHOT - and it's not made any difference :(

[2015-04-25 11:42] smecsia commented on #1
@sazzer Please check it once again. I've added tiny fixes  (3961c7d65ccf840664375cd81fce7e0c8fc7ba69) and implemented the test, which uses Spring context.
If it helps, I will release a new version.

[2015-04-25 18:44] sazzer commented on #1
Success :D It seems to be working fine now.  Thank you :D

[2015-04-25 18:44] #1 closed

[2015-04-27 11:28] sazzer opened #2 "Postgres 9.4.1 Binaries on OS X don't unpack"
Using the Embedded PostgreSQL server on Linux works perfectly fine. Using it on OS X doesn't work though. I get the error:

    Caused by: java.util.NoSuchElementException: null
	at java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java:713)
	at java.util.LinkedHashMap$LinkedKeyIterator.next(LinkedHashMap.java:734)
	at java.util.Collections$3.nextElement(Collections.java:5275)
	at

[2015-04-27 11:42] sazzer commented on #2
$ mvn -version
Picked up _JAVA_OPTIONS: -Xms256m -Xmx1024m -XX:PermSize=256m -XX:MaxPermSize=1024m
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option PermSize=256m; support was removed in 8.0
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=1024m; support was removed in 8.0
Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe155faf9602da; 2013-02-19 13:51:28+0000)
Maven

[2015-04-27 12:06] sazzer commented on #2
The problem is that on OS X, the AbstractExtractor class is assuming that Enumeration.getNextEntry() will return null when we reach the end. This ultimately ends up calling Enumeration.nextElement(), where the Enumeration is actually created by calling Collections.enumeration() wrapping a LinkedHashMap. The problem here is that the LinkedHashMap implementation seems to NPE when we reach the end of

[2015-04-27 12:06] sazzer commented on #2
As an annoyance, this is all in de.flapdoodle.embed.process-1.41.1.jar and not part of the postgresql-embedded project.

[2015-04-27 12:17] sazzer commented on #2
Just updated to Java 8u45 and unfortunately it's made no difference

[2015-04-27 12:31] sazzer commented on #2
I've just opened pull request https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/25 on de.flapdoodle.embed.process that appears to fix this problem.

[2015-04-27 12:43] smecsia commented on #2
Great! Thank you. Guys from Flapdoodle-OSS should review it soon. They actually respond fairly quickly.

[2015-05-11 15:47] harishkannarao opened #3 "java.util.NoSuchElementException"
Hi Team,

I tried to use postgresql-embedded library to unit test my dao, however I was getting java.util.NoSuchElementException when I tried to start embedded postgresql db server.
I had cloned this git repository and ran ru.yandex.qatools.embed.postgresql.TestPostgresStarter.java, still it was resulting in java.util.NoSuchElementException.  My environment details as as given below:

OS: Windows

[2015-05-11 15:51] harishkannarao commented on #2
Hi, I am facing the same issue in Windows 64 bit OS as well.  Fixing this issue will be highly helpful. :)

:+1:

[2015-05-12 13:41] smecsia commented on #3
This issure duplicates #2

[2015-05-12 13:41] #3 closed

[2015-05-15 09:17] smecsia commented on #2
@sazzer , @harishkannarao I've just released a new version 1.3 with the newer embed.process dependency. Please, verify the problem is solved.

[2015-05-15 16:18] harishkannarao commented on #2
Hi @smecsia , I have tested this issue in Windows 64 bit OS and it is working fine. :)

[2015-05-15 16:37] harishkannarao opened #4 "ru.yandex.qatools.embed.postgresql.TestPostgresStarter.java fails"
Hi Team,

I tried to run ru.yandex.qatools.embed.postgresql.TestPostgresStarter.java from my IDE.

Postgresql server fails to start, I have attached the stack trace for reference. There is a SEVERE message in stack trace about some PID file
OS: Windows 7 64 bit OS
JDK: Oracle 8 JDK
IDE: IntelliJ IDEA

Stacktrace:
[code]

[2015-05-15 21:10] smecsia commented on #4
@harishkannarao Thanks for sharing. I will investigate this issue a bit later.

[2015-05-17 15:23] danpeter opened #5 "Privileges on windows"
Hi, trying to run this on windows, get the following error:

"Execution of PostgreSQL by a user with administrative permissions is not permitted.
The server must be started under an unprivileged user ID to prevent possible system security compromises.  See the documentation for more information on how to properly start the server."

Is there some configuration to specify another user to start as,

[2015-05-17 22:18] smecsia commented on #5
@danpeter Thank you for sharing this. I haven't tested it under windows actually, since I'm using linux. I will investigate this issue later this week and let you know if it's possible to work around this.

[2015-05-17 22:19] smecsia commented on #2
It seems that this issue is resolved. I'll try to fix other windows issues this week.

[2015-05-17 22:19] #2 closed

[2015-05-19 06:15] singalshashank opened #6 "process does not come up on ubuntu machine"
Hi Team,

I tried running the embedded postgresql from my machine. It works fine on local ubuntu machine but on remote CI setup, I always get the following logs as it doesn't work.

Extract /home/teamcity/.embedpostgresql/postgresql-9.4.1-1-linux-x64-binaries.tar.gz START
Extract /home/teamcity/.embedpostgresql/postgresql-9.4.1-1-linux-x64-binaries.tar.gz START
[postgres error]LOG:  database syste

[2015-05-19 06:15] singalshashank commented on #6
The CI setup also runs on an ubuntu machine.

[2015-05-19 07:30] smecsia commented on #6
@singalshashank Thank you. Please indicate the version of Ubuntu, you are using on CI machine.

[2015-05-19 08:41] singalshashank commented on #6
@smecsia
Please find below the details:
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty

[2015-06-02 06:04] singalshashank commented on #6
Is anyone still working on it?

[2015-06-02 08:30] smecsia commented on #6
@singalshashank sorry, I was busy last two weeks. I actually could not reproduce this.
You're not running remote CI as a root, right? Can you try to run Postgres within Docker container on that machine?

[2015-06-08 10:28] kasheylm opened #7 "FATAL: ShmemIndex entry size is wrong for data structure "XLOG Ctl""
Trying to run it on Win8 x64 and it fails (
At first there was installed another instanse of PostgreSql - after deleting the same error:

[code]

Full log :
[code]

[2015-06-08 17:06] smecsia commented on #7
@kasheylm Which permissions do you have in the system? Postgres is known not to run with the root or admin privileges.
Can you try to launch it manually? Somethins like this http://www.postgresql.org/docs/9.1/static/server-start.html

[2015-07-05 13:40] isaachazan opened #8 "Postgresql embedded tries to extract twice"
I am trying to run a unit test on windows that uses postgresql-embedded version 1.3 .
I use the following code:
[code]

It fails with the following:
[code]

While troubleshooting, i realized that for some reason postgres is being extracted twice instead of once. I confirmed that by putting a breakpoint in the PostgresArtifactStore::extract function and it hits the breakpoint twice. Isn't that a pr

[2015-07-06 14:37] smecsia commented on #8
Are you trying to launch Postgres as a user with admin privileges? If so, then it is a duplicate of #5
Please try to launch Postgres server manually from archive: `C:\Users\ihazan\.embedpostgresql\postgresql-9.4.1-1-windows-x64-binaries.zip`

[2015-07-06 16:59] isaachazan commented on #8
I don't think i am trying to launch it with admin privileges. How do i know with which privileges i am trying to launch it?

[2015-07-27 09:34] alexeigit commented on #8
Have the same problem on mac os, started embedded postgres in junit like in your github example.

[2015-08-19 03:43] bobdenardd commented on #8
The fact that it extracts twice is actually misleading. I had a real pain in the ass to debug this issue but it all comes don't to a freaking hardcoded timeout. Have a look at AbstractPostgresConfig class, you will see a constructor for the inner Timeout class which sets it to 2000 ms. On windows and probably on mac os this is not enough, so by raising it to 20000 ms instead it will fix the proble

[2015-08-19 10:25] smecsia commented on #8
@bobdenardd could you confirm that the example posted by @isaachazan is working on your system with the change of timeout?

[2015-08-19 10:33] bobdenardd commented on #8
Yes I do confirm it, I have being performing some benchmarking and 20000 ms appears to be a reasonnable timeout for win 64 bits. Anyway the example posted by @isaachazan strictly corresponds to the unit test named TestPostgreStarter, so all you have to do to verify it is change the timeout and run the tests in this project.

[2015-08-24 03:49] bobdenardd commented on #8
Is there gonna be any new release integrating a patch for this?

[2015-08-24 09:20] isaachazan commented on #8
@bobdenardd : how did you re-test it? You changed and then mvn? Did you upload it new version somewhere or are you working with a local repository? Thx.

[2015-08-24 09:46] bobdenardd commented on #8
So basically what I did was very simple, I changed the timeout, then rebuilt the artifact and installed it in my local repo making sure I had the correct version (in my case I used 1.3, so I just crappily changed the version in embedded postgresql pom to 1.3, works like a charm...). Then in order to use it within my team of developpers I just deployed this customized artifact to our nexus so that

[2015-08-24 10:24] smecsia commented on #8
@bobdenardd have you tried something like the code below?
[code]
Timeout is not actually hardcoded. It just has the default constructor, so according to [AbstractPostgresConfig.java#L160](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/config/AbstractPostgresConfig.java#L160) you can change it.

[2015-08-24 10:34] bobdenardd commented on #8
@smecsia Yep it works with the above provided code. The thing is I don't directly use it in my project, as it is used as a deep dependency for unit testing through spring boot. As I didn't want to dig into several plugins, I just modified the default timeout and it did the trick.

So I acknowledge that it is not an issue on your side since there is a setter and custom constructor for bypassing the

[2015-08-24 11:17] isaachazan commented on #8
Even when using the above timeout, this is what i am getting:

[code]

[2015-08-24 11:19] bobdenardd commented on #8
@isaachazan actually those are misleading log messages. they appear as errors, but they mean your postgre is actually ready, so you may try to connect to it and you will see it is up and running. I get the exact same log messages but it works fine.

[2015-08-25 09:34] isaachazan commented on #8
Have you guys succeed to to your instance via a psql like client, when i try with the credentials i provided in the PostgresConfig constructor it does not recognize the user. Any idea?

[2015-08-25 12:20] bobdenardd commented on #8
Works fine for me, able to connect to the DB with the provided users in PostresConfig

[2015-09-10 11:47] isaachazan commented on #5
A problem that is somewhat related to this and maybe there is a solution, our build are generated by teamcity server that as root and i can't really change it.
Is there a way/setting to tell the PostgresStarter to run the postgres instance with a different user than the one that ran the program?

[2015-09-10 12:46] smecsia commented on #5
This library is based on [flapdoodle-embed-process](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process), which does not support this.
I would recommend you to reconfigure your build environment. Running builds as system user is definitely not very good way to do this.

[2015-11-12 12:33] isaachazan commented on #4
How did you solve it? I have the exact same problem after I switched to a new laptop. Thx

[2015-11-12 16:06] smecsia commented on #4
@isaachazan could you try to run postgres binaries manually? Please try to use the following:
* Extract `$HOME\.embedpostgresql\postgresql-9.4.1-1-windows-x64-binaries.zip` to some directory, say `Desktop\postgres`
* Run `Desktop\postgres\bin\initdb any/path/where/db/files/should/reside`
* Run `bin\postgres -D any/path/where/db/files/should/reside`

[2015-11-12 16:41] harishkannarao commented on #4
Hi @smecsia and @isaachazan , I am using the postgresql binaries to start postgresql db server for local testing. Interestingly some dll files were to be installed in windows to start the postgresql server from binaries in windows. I have captured the steps in the following google doc. I have captured the steps required to install the dll libraries in windows..

https://docs.google.com/document/d/

[2015-11-13 09:52] dev-mobile opened #14 "Passing InitDB Arguments"
Hi,
I appreciate your work a lot.

I'm trying to re-import a dump, but it fails because 'value too long for column...'.
The reason is that we have _german umlauts_ in the dumped data.
To make this work there should be a possibility to pass some arguments to the _InitDB_ process.
Like ```new String[]{"-E", "'UTF-8'", "--lc-collate='de_DE.UTF-8'", "--lc-ctype=locale='de_DE.UTF-8'"}```
Do you think i

[2015-11-13 12:29] smecsia commented on #14
Hi @dev-mobile, this should be made within the [InitDbProcess.java](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/InitDbProcess.java). The way to do this is to add the `additionalInitDbParams` property to [AbstractPostgresConfig.java](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatool

[2015-11-13 13:24] dev-mobile opened #16 "Using Command Psql to import a dump"
Hi,
there is the need of a feature to import a dump file into the created database by using the [Psql Command]() .
I would suggest something like in the [PostgresProcess.java](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/PostgresProcess.java)

[code]

Thank you

[2015-11-13 14:43] smecsia commented on #16
LGTM. Send the PR, but I would ask you to implement the test for this feature first.

[2015-11-13 16:33] smecsia commented on #16
Fixed in #15

[2015-11-13 16:33] #16 closed

[2015-11-13 16:33] smecsia commented on #14
Fixed in #15

[2015-11-13 16:33] #14 closed

[2015-11-13 16:35] smecsia commented on #4
@harishkannarao Did you have a chance to launch postgresql-embedded after you've installed the additional dlls?

[2015-11-17 03:38] tteats opened #18 "progressListener cannot be overridden"
By default, the stdout gets bombarded with >= 2 times with

[code]

of all the files that get extracted. Overriding `runtimeConfig.artifactStore.download.progressListener` doesn't work because `AbstractExtractor` gets extracted a few times during a test and some of the code-paths revert back the postgresql-embedded's default download config settings. In reality, it makes the tool hard to use b/c t

[2015-11-17 23:29] #18 closed

[2015-11-24 19:48] hjort opened #20 "Binaries extraction occurring repeatedly in a single execution"
In short, I created a simple code with the following snippet using *postgresql-embedded*:

[code]

When running that code, the following message appears 4 times:

I've noticed that every time the method `PostgresProcess.runCmd()` is called internally, these two methods are called:

This happens when:
1. `PostgresExecutable exec = runtime.prepare(config)` is executed
2. `ru.yandex.qatools.embed.pos

[2015-11-24 23:41] smecsia commented on #20
This is actually the default behavior of how [de.flapdoodle.embed.process](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process) works. It extracts the executable every time you launch it.
You can avoid this by setting your own artifact store, like [here](
https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/test/java/ru/yandex/qatools/embed/postgresql/TestPostgresStarter

[2015-11-25 13:06] hjort commented on #20
I tried setting my own artifact store such as the example, but it still extracts the binaries 4 times.

I even tried running the `ru.yandex.qatools.embed.postgresql.TestPostgresStarter` class, which executes the extraction several times:

[code]

Should we avoid that by specifying other PostgreSQL commands (initdb, createdb, etc) along with `Command.Postgres` when creating the `IRuntimeConfig` obj

[2015-11-25 16:07] smecsia commented on #20
Please try version 1.7 (I've just recently released it).

[2015-11-26 15:53] hjort commented on #20
It worked successfully using version 1.7, thank you!

A question: do you have any code sample to avoid 1) downloading the binaries the first time and 2) extracting the ZIP file every execution? I mean, I'd like to retrieve and extract the binaries once.

[code]

[2015-11-26 20:39] smecsia commented on #20
1) Binaries are being downloaded once for each version and then reside within $HOME/.embedpostgresql directory.
2) What do you mean by "extract the binaries once"? Do you want the binaries to be extracted during first run and then use the specific extracted directory during the following runs? Why do you need that?

[2015-12-01 12:20] mblt commented on #20
For instance, this can improve performance

[2015-12-01 12:57] smecsia commented on #20
I mean the common use case for this library is to embed the PostgreSQL into your build process. Each build must be isolated and autonomous, so the intention is to use the clean environment. Besides that, extraction is a relatively quick process, I'm not sure if it is a big issue.

[2015-12-03 09:58] martinberanek opened #21 "Missing msvcr120.dll in windows x64 archive"
Running on Windows 7 64bit, during startup I got:
[code]

after investigation, i find out, that binaries need ```msvcr12.dll``` which is not in archive (postgresql-9.4.4-1-windows-x64-binaries.zip)

the strange is, that this library is in ```c:\Windows\SysWOW64\msvcr120.dll```

how can I solve this problem, what are you recommend?

[2015-12-03 14:21] smecsia commented on #21
@martinberanek From what you can get on google:

**"The program can't start because MSVCR120.dll is missing from your computer. Try reinstalling the program to fix this problem."**
If you get that error, download the Visual C++ Redistributable Packages for Visual Studio 2013:
 http://www.microsoft.com/en-us/download/details.aspx?id=40784.
The vcredist_x86.exe you will need if you are running the 3

[2016-01-12 13:33] mikko-apo commented on #20
+1 for extracting once, only if the extracted directory for the postgres version does not exist. If postgres does not generate any files to the extracted directory or modify any files there, it should be safe to assume that the postgres directory is ok to use between runs. This would speed up build processes.

Also, extraction messages produce unnecessary noice to the build log so it would be nice

[2016-01-12 13:44] mikko-apo commented on #20
btw, switching from 1.4 to 1.7 improved build time from 4 minutes to 3.5 for one project. postgres is started twice during the build: scala-tests and ui-tests are run sequantially in different processes.

[2016-01-28 21:41] trak17 commented on #6
The same error I had when the embedded-postgresql process was not ended/killed and I tried run another one.
In that situation I had similiar errors like 'base/123 subdirectory missing', 'invalid TimeZone format' ...

After killing the process, everything was fine.

[2016-02-26 02:27] zemudkram opened #26 "Failure to delete temp files when running in Spring Context"
I have wired up a PostgresService to be used in our Spring context-based tests.  It is Lifecycle aware (it implements Lifecycle) and is started through start() method and stopped through a stop method which calls

` process.stop();`

When the test completes and the context is shutting down, I get an IllegalStateException, and the temporary files created at startup are not deleted.  It seems to occ

[2016-02-26 08:27] smecsia commented on #26
@zemudkram This might be a bug in [de.flapdoodle.embed.process](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process).
We could catch any exceptions during temporary files removal, but I believe it would be better to find out why actual files removal fails.
Do you have any other exceptions in your log above this stack trace?
Temporary directory might be still locked by running Postgres pr

[2016-02-26 08:28] smecsia commented on #26
Please also indicate the version and the operating system, you're using.

[2016-02-26 20:56] zemudkram commented on #26
I was going to say there are no other exceptions, but it does look like there is a null-pointer exception, which has overwritten a log line.  There are also several warnings about not being able to delete the files.  Here's a more complete log of a typical test run.

[code]

Here's the line with the NPE:  I'm not sure where this NPE is coming from - fairly certain it's not from spring...grepping t

[2016-02-26 22:00] smecsia commented on #26
@zemudkram Thanks for the detailed explanation. It seems that I've managed to resolve this problem. Could you try the version from PR(#27) locally?

[2016-02-26 22:55] zemudkram commented on #26
@smecsia :+1: Sure I will try this out Monday.  Thanks for the quick response :)

[2016-02-29 19:31] zemudkram commented on #26
Sorry, I've not been able to try this locally yet.  I will give it a shot today.

[2016-02-29 20:09] zemudkram commented on #26
@smecsia I've tested 1.10-SNAPSHOT from PR(#27) and the NPE is not there.  So that part of the problem is fixed, I think.

Many of our tests extend from a base class that contains the spring context configuration and common set up code for a particular aspect of our project.  When the tests are run individually, the context shuts down correctly, however when run as a suite (usually by selecting th

[2016-02-29 21:34] smecsia commented on #26
@zemudkram AFAIU you're using Spring4JUnitRunner (or a kind of) and the independent Spring context for each test class. That's why there are multiple messages about psql executable in the log.
I have some assumptions about the roots of your problem, but first I'd like to ask some questions.
1) Why don't you share the single Spring context between the tests and single PostgreSQL instance accordingl

[2016-03-10 20:57] zemudkram commented on #26
@smecsia My apologies for taking so long to reply - I've been snowed under a bit lately.

Yes we are using Spring4JUnitRunner,  or rather our test classes extend an abstract class that itself extends AbstractJUnit4SpringContextTests.  When the tests are run as a suite or via maven on CLI, it seems to spin up one context and one PG for all the tests in the suite.  So yes, to answer 1), we do this t

[2016-03-15 11:13] evrastil opened #28 "postgres does not start on win7 x64"
`Extract embedpostgresql\postgresql-9.5.0-1-windows-x64-binaries.zip DONE
10:28:46.497 [main] DEBUG d.f.e.process.runtime.ProcessControl - Detected pid: 4648
10:28:52.940 [main] INFO  d.f.embed.process.runtime.Executable - start ru.yandex.qatools.embed.postgresql.config.PostgresConfig@282003e1
10:28:52.949 [main] DEBUG d.f.e.process.runtime.ProcessControl - Detected pid: 11520
Bře 15, 2016 10:29:1

[2016-03-15 12:29] smecsia commented on #28
@evrastil Are you trying to launch postgres as a user with admin privileges in your system? If so, this is a duplication of #5
Please try to launch postgres binaries manually http://www.postgresql.org/docs/9.1/static/server-start.html and share your experience.

[2016-03-15 12:48] evrastil commented on #28
You are right Im running as system user

al\Temp\postgresql-embed-f4002ef1-55cd-48a7-9b81-91255b03b95a\db-content-e73e4c89-687a-4dfc-8316-5a5c04895e61
Execution of PostgreSQL by a user with administrative permissions is not
permitted.
The server must be started under an unprivileged user ID to prevent
possible system security compromises.  See the documentation for
more information on how to prope

[2016-03-15 13:01] smecsia commented on #28
@evrastil Unfortunately no. There is a PR #22 which probably would allow to achieve something like running postgres commands as `runas /user:postgres ...`. This might solve your issue.
It would be greate if you could test postgresql-embedded with that patch. If it works, I'll merge it and release the new version.

[2016-03-15 14:57] evrastil commented on #28
To add runas will not solve my problem only user I have has admin privilages and i cant add any new.

Did you consider using just pg_ctl start/stop -U test -P pwd-D datadir
because it seems to avoid the security pg check and it would work for me, IMHO no need to user psotgres zou could just user the pg_ctl  wrapper.

btw I will check if the PR #22 works but Ill geve to ge a hold of another compute

[2016-03-15 21:58] smecsia commented on #28
@evrastil This won't work. We have to use `initdb` anyway, because we need to initialize new database first. Have you tried launching it under your user?

[2016-03-16 09:21] smecsia commented on #7
Outdated.

[2016-03-16 09:21] #7 closed

[2016-03-16 09:22] smecsia commented on #8
Outdated.

[2016-03-16 09:22] #8 closed

[2016-03-16 10:00] evrastil commented on #28
@smecsia  yes I did and I can confirm it works. **BUT** it is still not usable for me in corporate environment where I must use win7 and other people must use it. I have only one win user which I can not change or add another which would not have admin role :(.

`initdb` runs fine there is no issues with that under and if tere would be a way and Im sure there is to `pg_ctl start` postgres it would

[2016-03-16 11:03] smecsia commented on #28
@evrastil Ok. I'll take a look what can be done a bit later.

[2016-03-21 15:16] Tapac commented on #21
MSVCR120.dll comes with jre 1.8, so all you need to do is extend 'Path' environment variable in onBeforeProcessStart with jre\bin.
Something like this (in Kotlin) :

[code]

[2016-03-23 09:41] smecsia commented on #21
@Tapac thank you for the suggestion. I'll try to use it a bit later.
Btw it would be great if you could send the PR (but not in Kotlin :) ).

[2016-04-15 11:22] smecsia commented on #28
@evrastil I guess we can close the ticket, since your PR is already in the released version.

[2016-04-15 11:22] #28 closed

[2016-04-15 11:28] smecsia commented on #20
Guys. The latest released version (`1.11`) does not print all the extracted files in the log, so you can be sure that the single embedded postgres instance extracts files just once for each launch.
Extraction is a quick process and should not slow down your tests much. I guess we can close this issue for now. Feel free to reopen if you have any new thoughts.

[2016-04-15 11:29] #20 closed

[2016-04-15 11:37] smecsia commented on #6
@trak17 Your problem is a very rare and it is hard to reproduce and inspect the reasons. When you launch Postgres many times sequentially on single system, it (probably) caches something in the system files. Process killing does not  always help, but system reboot solves the issue. Unfortunately I have no time to investigate this closer.
I'd recommend you to use the clean and isolated environment

[2016-04-15 11:37] smecsia commented on #5
I believe this issue is solved by #29

[2016-04-15 11:37] #5 closed

[2016-04-15 11:38] smecsia commented on #4
I believe this is a duplicate of #21

[2016-04-15 11:38] #4 closed

[2016-04-15 12:26] evrastil commented on #28
@smecsia yes, thank you

[2016-05-03 01:28] pboos commented on #6
We are currently getting this same error on Debian/Ubuntu.
It works fine under Mac OS X though. So I wonder what the difference could be.

Debian: Debian GNU/Linux 8
Postgres: PRODUCTION (9.5)

[code]

Anything I could investigate to help solve this problem?

[2016-05-03 07:21] pboos commented on #6
## Problem most likely in the extraction process of the tar.gz ??

I found out, that somehow the zip file does not get extracted correctly. Only bin/postmaster exists and does a link to bin/postgres which is non existing. postmaster is the only file in the bin directory.

If I extract the tar.gz in the .embedpostgresql folder, I get a lot more files in the bin directory. So I guess the extracting

[2016-05-03 07:35] pboos commented on #6
Could it be that the problem lies in this file?
[PostgresFilesToExtract.java](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/ext/PostgresFilesToExtract.java)
It kind of mentions VERY DIRTY HACK. So that is why I guess that might not be working on ubuntu or was not tested ubuntu/linux. Any idea what could be causing the problem?

[2016-05-03 07:37] pboos commented on #6
Just downloaded postgresql-embedded on a ubuntu machine and ran ``mvn test`` which gives exactly the same error here. So it seems to be easily reproducible :).

[2016-05-03 07:53] pboos commented on #6
Nevermind. The extraction seems to work fine. Just after running those files remain.

[2016-05-03 08:13] pboos commented on #6
I think I traced down the error in our case. The starting process fails with the following error:

[code]

[2016-05-03 08:42] pboos commented on #6
#### Solution (at least for us)

1. run as non root user
2. export LC_ALL=en_US.UTF-8

Reasons:
pg_ctl does refuse to run as root.
initdb: invalid locale settings; check LANG and LC_* environment variables

I was testing by running ```mvn test``` in the postgresql-embedded git repository on our server.  And with the above I got the tests to run correctly.

[2016-05-03 09:07] smecsia commented on #6
@pboos Thank you for the detailed research! Actually embedded postgres works well on Ubuntu (and this is proved by our CI server, which launches every PR and master build within Docker container with  Ubuntu).  There were different problems with launching on Mac and Win, but I believe the most of them have been resolved.
Your problem concerns PostgreSQL server directly (which is known to not start

[2016-05-10 15:50] sideshowcoder opened #32 "Port not passed through when using a custom config"
When I'm configuring the embedded postgres to run with a Custom configuration the port option does not seem to passed through to the underlying Postgres process, I see the following output when running

[code]

So only the host and data directory are passed to the postgres process

This is with the configuration as the following, and supposably port 4711, I also checked and the database is actuall

[2016-05-12 06:49] smecsia commented on #32
The issue was due to a strange difference between pg_ctl for Postgres 9.4 and Postgres 9.5. The newer one understands multiple `-o` command line arguments, when 9.4 does not.
Anyway the issue must be fixed by #33 . I'll publish the newer release today.

[2016-05-14 20:21] smecsia commented on #32
@sideshowcoder Did you have a chance to test with 1.14?

[2016-05-17 08:16] jnickc commented on #26
I have the same problem
SEVERE: Failed to read PID file (File '/tmp/postgresql-embed-24cf7813-46bb-4adf-bde5-9a2c57ead502/db-content-f508032a-7acf-4916-ae6f-6a7d4357c1ed/postmaster.pid' does not exist)

....Testing....
Exception in thread "Thread-18" java.lang.IllegalArgumentException: /tmp/postgresql-embed-24cf7813-46bb-4adf-bde5-9a2c57ead502/db-content-5796dc45-8f3f-43a4-9106-63d92f7f433e/pg_mul

[2016-05-17 09:02] smecsia commented on #26
@jnickc the same problem was discussed here #6. Please try to reboot or just kill the possibly remained psql proess.

[2016-05-27 10:40] vzx opened #34 "Debug message pg_ctl: too many command-line arguments (first is "start")"
I'm not sure if this is actually an issue or not, but it does look a bit worrying. When `PostgresProcess.stop()` is called, I see the following in the log:

[code]

Here is a simple snippet that could reproduce it for me:

[code]

(With `logback-classic` in the classpath with default config, which has `DEBUG` enabled).

This is using `postgres-embedded` version 1.14 on a 64-bit Ubuntu Mate 15.10.

[2016-05-27 12:12] vzx commented on #34
I actually stumbled upon something strange: if I don't call `stop()` at all, the shutdown hook will property stop (or kill) the postgres process, but if I do call `stop()`, it will fail to stop the process for some reason, and the shutdown hook will not attempt to try it again (which means the postgres process keeps running).

So there is definitely a bug with `stop()` I would say.

[2016-05-27 12:26] smecsia commented on #34
@vzx Thanks for the report. I'll investigate this a bit later.

[2016-05-29 15:38] #34 closed

[2016-06-02 14:10] smecsia commented on #32
I'm closing this one, since there's no answer. Feel free to reopen if it's still actual.

[2016-06-02 14:10] #32 closed

[2016-06-02 14:10] smecsia commented on #21
I'm closing this one, since there's no answer. Feel free to reopen if it's still actual.

[2016-06-02 14:10] #21 closed

[2016-06-23 04:19] scottmf opened #37 "Problem brining postgres up on windows 7/8 using version 1.15"
There is a problem with the args which are used in the ProcessBuilder which causes postgres not to launch properly on windows with no errors or any output indicating an issue.  Subsequently createdb.exe fails its 3 attempts.  This problem occurs using Command.PgCtl as well as Postgres.  I tried this on two windows systems (7 and 8) both fail with this same problem.  On 'nix systems it works fine.

[2016-06-23 04:22] scottmf opened #38 "When using the pg_ctl command pg does not shutdown"
When using pg_ctl instead of postgres to start the db the pg process is not shutdown properly.  It attempts to kill a non-existent pid and therefore pg continues to run after the process dies.

To workaround the issue I used ProcessBuilder to run "/path/to/pg_ctl -D </path/to/datadir> -w stop" in a shutdown hook.

[2016-06-24 13:52] mfelsche opened #39 "Fails to start when run as user without HOME directory"
starting embedded postgres (_Version:_ 9.4.1208) with a user without home directory like this:
(the important thing it to set `.artifactStorePath(new SubdirTempDir())`
as it failed trying to use the `new UserHome()` with `PostgresStarter.getDefaultInstance()`)

[code]

It still wants to create `$HOME/.embedpostgresql` when calling initdb here: https://github.com/yandex-qatools/postgresql-embedded/

[2016-06-26 13:47] smecsia commented on #39
@mfelsche I would say it does not. But for now this is a limitation of embedprocess library, where we must provide just a single binary to be extracted and then executed.
But I agree, this looks like a bug and should be fixed somehow. I'll investigate this later.
Btw if you have an idea of how to fix this, feel free to send a PR.

[2016-06-29 06:00] TheNitek opened #40 "Proxy support"
I'm currently trying to get postgresql-embedded to work, but unfortunately our corporate proxy is blocking the download.
Would be nice if something like
mvn clean install -DargLine="-Dhttp.proxyHost=www.proxy.com -Dhttp.proxyPort=8000"
would be supported.
Is there a way to set the proxy within the code as a work around for now?

[2016-06-29 10:26] sleepphoenix opened #41 "when i restart program..."
hello...

I am interested in this project.

So I tested a few things.

I've been using to embed by javafx is good.

However, if you quit the program, and run again , the stored data disappear .

How can I keep the data stored in the db when the program is restarted ?

there is not options...

PostgresStarter... PostgresConfig... and so on...

thanks...

[2016-06-29 10:29] sleepphoenix commented on #41
Note that.

in main class...
static {
     PostgresStarter<PostgresExecutable, PostgresProcess> runtime = PostgresStarter.getDefaultInstance();
     config = new PostgresConfig(Version.V9_5_0, "127.0.0.1", 54322, DBNAME);
     exec = runtime.prepare(config);
     process = exec.start();
}

...
...

@Override
	protected void finalize() throws Throwable {
		super.finalize();
		process.stop();
	}

[2016-06-29 13:07] smecsia commented on #40
@TheNitek thanks for suggestion. This project is based on [embed.process](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process) library, which supports such ability. You should specify your own `proxyConfig` within the `DownloadConfigBuilder`, which is a propery of `ArtifactStoreBuilder`. If you specify your own  manually, you can set up the proxy configuration. Something like:
[code]

[2016-06-29 13:19] smecsia commented on #41
@sleepphoenix you can use [embedded-services](https://github.com/yandex-qatools/embedded-services) library to ease the configuration. Something like:
[code]

Or you can specify `Storage` configuration manually. See the example [here](https://github.com/yandex-qatools/embedded-services/blob/master/src/main/java/ru/yandex/qatools/embed/service/PostgresEmbeddedService.java#L57).

[2016-06-29 14:02] minek-admin commented on #41
wow. very simple.
that's good.

tomorrow, i'll be test.
thanks.

[2016-08-02 21:57] mnimer opened #43 "add postgis support"
If it's possible can you create a version of postgres with postgis installed?

[2016-08-03 17:01] smecsia commented on #43
@mnimer I'm afraid there's no easy way to implement such feature. But I believe it is possible. Unfortunately I don't have enough time for now, but any PRs are definetely welcome :)

[2016-08-04 06:40] yadavan88 commented on #43
I was also looking for the same. I was using h2 before, but since postgis is added recently, i had to discard h2. If postgis support can be added, then that would be nice.

[2016-09-09 22:15] tamasujj opened #46 "Postgres does not start on OS X 10.11"
I'm using version 1.15 and I get the following error when I try to start embedded Postgres:

[code]

I am able to start it from the terminal after I extract the binaries.

[2016-10-15 00:35] guanzhou-zhao commented on #46
`Credentials{username='local', password='local'}` is in the log.

Did you specify username and password?
`Connection db = DriverManager.getConnection(url, username, password);`

[2016-10-17 22:15] tamasujj commented on #46
@guanzhou-zhao
Yes I did, local/local is correct.

The error occurs at startup before I have the chance to connect to the database.

[code]

[2016-10-17 22:40] guanzhou-zhao commented on #46
@tamasujj
Your config looks far more advanced. For me I just used the example in README as below, and it works.
[code]

[2016-10-26 23:45] blove319 opened #49 "Capturing failures"
Can you add a section to the documentation outlining how to check if a file succeeded?

[2016-10-28 00:28] aramcodz opened #50 "clean-up of embedded process folder fails & incorrect console/log messages from "stopInternal""
I have created a maven-plugin that wraps around the postgresql-embedded component, using it to successfully start an embedded postgres process during the pre-integration phase of the maven lifecycle and stop/shutdown the process during the post-integration-phase of the lifecycle. I got the idea after posting this [stackoverflow question](http://stackoverflow.com/questions/40182104/how-to-use-the-e

[2016-10-31 12:33] zsolt-donca commented on #37
I can confirm having the same issue: postgres does not launch properly, there are no errors or any output indicating an issue, and `createdb.exe` fails its 3 attempts. However, affected versions are different: I have the issue only on release `1.16`, and everything works fine on `1.15`. Tested on both Windows 7 and 10 64 bits.

My workaround was to downgrade to version `1.15`.

[2016-11-03 01:52] smecsia commented on #50
@aramcodz Can you trace/debug the the problem with loggers in the code of Embedded Postgres? You could send a PR, which is always welcome.
The `ClassNotFoundException` makes me thinking that there's strange behaviour of the library within Plexus classloaders. It would be helpful if you could create an example project, we could play with.

[2016-11-03 01:54] smecsia commented on #37
@zsolt-donca Can you trace the problem in the code? I don't have an ability to test the library on Windows for now, so it would be really helpful.

[2016-11-08 15:04] khareamol opened #51 "Problem initializing the DB on Windows 10 x64"
My team has successfully started using this library.
However, when I work on Windows 10 x64, I found that DB is not getting initialized.

After debugging for root cause
Found that following 2 lines need to be reversed or better solution would be to --pgdata while specifying the Data directory.

InitDbProcess - Line 69, 70
[code]

Since the DB Storage argument is coming before the additional parame

[2016-11-08 23:57] smecsia commented on #51
@khareamol Feel free to send a PR with the tests covering your specific use case. I'm going to configure TravisCI with different platforms soon, so we could see if your tests would fail.

[2016-11-16 15:15] novator007 commented on #51
Hi,
I also encountered same problem. If you switch those two lines, db starts fine with additional parameters.

[2016-11-17 21:46] tdziurko opened #52 "Problem with encoding on WIndows 10"
Hello

We are using this library to write tests and on OS X it works like a charm. But when we try to execute tests on WIn10 x64 we are getting following errors:

`ERROR: character with byte sequence 0xc5 0xbc in encoding "UTF8" has no equivalent in encoding "WIN12`

I am suspecting that somehow default encoding for Win is different than default encoding for OS X and that is causing this issue, bu

[2016-11-19 12:40] smecsia commented on #51
@novator007 again, please feel free to contribute. If it wont break the compatibility with Linux and MacOS, I'll merge it with pleasure.

[2016-11-19 12:42] smecsia commented on #52
@tdziurko Unfortunately, I don't have the possibility to test the library under Windows for now. If you find the way to workaround this issue, please feel free to open a PR.

[2016-12-08 14:57] janzyka opened #55 "Postgres cannot be downloaded from other than default place"
We created our own packages and put them into our own Nexus repository. Unfortunately when embedded postgres starts it uses this nexus settings for the main (postgres) command but for the rest the defaults are used. This means for example that for "InitDb" command it tries to download the package again from the default location. Even though the package has already been downloaded from nexus. The c

[2016-12-12 01:25] smecsia commented on #55
It looks like a duplicate of #39

[2016-12-12 08:33] janzyka commented on #55
I would say not exactly even though the root cause is the same. The common problem of both issues is that 2 of the 3 commands (initDb & createDb) use the default settings rather than settings passed to RuntimeConfigBuilder. In my case the problem is that these commands attempt re-download from default location where in #39 the problem shows as unable to change download directory.

[2016-12-23 20:45] Zingoer opened #56 "Never be able to stop PostgresProcess properly"
I always got the following warning:
[code]
I know that if I want to delete the /tmp/postgresql-embed..., I need to sudo previledge. I'm not sure if that's the reason lead the stop problem. If so, how should I change the tmp dir to where I have general privilege to delete? If not, what's the possible reason that make the process not be able to stop?

[2016-12-27 11:04] smecsia commented on #56
@Zingoer you should not need the sudo privilege to delete temporary files. Which OS are you using?

[2016-12-28 09:31] okthatsneat commented on #56
+1 same output; i'm logged in as user, not super user. deleting that file via rm -rf is no problem.

[2017-01-03 14:19] bobdenardd commented on #56
Same issue on windows 10 as well

[2017-01-03 15:20] Zingoer commented on #56
@smecsia I'm using Linux Ubuntu 16.4.
How could I modify the path to download the postgres? like "/root/.embedpostgresql/postgresql-9.5.0-1-linux-x64-binaries.tar.gz DONE". I want to put in another dir.
As well, the previous console log only appears when I try to run junit in eclipse. If I use gradle clean test, it didn't show these information.

[2017-01-03 23:02] smecsia commented on #56
@Zingoer

Unfortunately you cannot. There're issues for that (#39, #55).

Are you using root for your tests? This is a weird scenario. I would not recommend it. Besides, postgres is known to not start under root (see readme).
As for the output. Can you debug the [shutdown code](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/Postgr

[2017-01-04 03:40] Zingoer commented on #56
@smecsia
I'm using docker container to run the tests. I noticed the root issue today so I'm trying to figure out how to switch to another user to run the tests inside docker container.
I will debug the shutdown code, thank you!

[2017-01-04 13:18] #39 closed

[2017-01-04 13:24] mfelsche commented on #39
:+1:

[2017-01-04 13:38] smecsia commented on #55
Fixed in 1.17.

[2017-01-04 13:38] #55 closed

[2017-01-04 13:41] smecsia commented on #56
@Zingoer  FYI: I've just released v1.17 of the lib with the #39 and #55 fixes.

[2017-01-04 14:22] Zingoer commented on #56
@smecsia Awesome! Thank you!

[2017-01-04 14:39] bobdenardd commented on #56
@smecsia I had to address the problem because of the windows environment. Here is what I did:

I wrote a CustomPostgresProcess which intends to override the stopInternal method of the PostgresProcess. Here is the new method content:

[code]

This is a quick and dirty workaround, but I can confirm it works and that the trouble was caused by windows not having enough time to kill the process which w

[2017-01-05 04:39] smecsia commented on #56
@bobdenardd I've just pushed the commit, which is trying to shutdown postgres in more proper way. Can you test it locally, please?

[2017-01-05 10:36] bobdenardd commented on #56
@smecsia Yes I can confirm it works locally on a win 10 and a win 7 machine. Thanks a bunch :)

[2017-01-05 21:37] #56 closed

[2017-01-06 09:47] jbellmann opened #59 "Any plans to support version 9.6.x of postgres?"

[2017-01-06 12:12] #59 closed

[2017-01-13 19:40] melezov commented on #52
PR which resolves this is available #61

[2017-01-13 19:41] melezov commented on #51
PR which resolves this is available #61

[2017-01-24 15:52] VladSergeev opened #62 "Problem with running postgres on Windows with low preveligies"
Hello.
I saw issue:
https://github.com/yandex-qatools/postgresql-embedded/issues/28
I have same problem.
I tryed to configure it myself using pg_ctl java API from your library but it does not work.
I have checked out your project and  have started a test with pg_ctl localy.
That show me same error as i have in my own project.

I attach a file of your test console log.

I have  tryed to start it ma

[2017-02-02 16:11] Stephan972 commented on #40
I would see the proxy setting feature as a nice enhancement to the PostgresStarter class.

[2017-02-05 00:57] adihubba opened #63 "Gitlab build: postmaster.pid does not exist"
Hi,
everything works fine when i start the database on my local client. But when i used the CI feature from Gitlab i get the following error:
[error.txt](https://github.com/yandex-qatools/postgresql-embedded/files/752676/error.txt)

Any suggestions?

[2017-02-06 02:13] smecsia commented on #63
@adihubba it looks like it could not start Postgres process. Can you try to use more verbose logging in your tests?

[2017-02-06 02:17] smecsia commented on #62
I'm going to setup windows based builds for this project soon. But currently I cannot test it under Windows.
What's your Windows version?

[2017-02-06 02:19] smecsia commented on #52
@tdziurko New release contains the fix. So, I'm closing this issue. Feel free to reopen if it does not work.

[2017-02-06 02:19] #52 closed

[2017-02-06 02:19] smecsia commented on #51
@novator007 @khareamol New release version contains the fix. So I'm closing this issue. Feel free to reopen if it does not help.

[2017-02-06 02:19] #51 closed

[2017-02-07 12:30] adihubba commented on #63
Ok, i see that gitlab launches the process as root user. I guess i have to check the Gitlab CI config, if i can start the build/test as normal user....
[Log2.txt](https://github.com/yandex-qatools/postgresql-embedded/files/757561/Log2.txt)

[2017-02-08 11:32] #63 closed

[2017-02-23 16:05] hbrackmann opened #65 "slow startup"
currently the startup time is about 50 seconds which is too long.
Most time is spend for file coppies.

System:
-Windows
-ssd
-i7

i have implemented a low level optimisation for write files in de.flapdoodle.embed.process.io.file.Files
Although this is alreday faster (20 secounds) it is still too slow.

Maybe there are other ways to improve the performance e.g.
-only replace the postgress data fol

[2017-02-23 23:33] smecsia commented on #65
Oh wow. That's looking too bad. On Linux I get 10 seconds of full startup without any optimizations.

You may consider not extracting the files every time. This is currently not supported, but you can use your own `ArtifactStore` implementation (which can be instantiated by your own `ArtifactStoreBuilder` and configured using `artifactStore` method of `RuntimeConfigBuilder`). Try to use the preext

[2017-02-24 23:18] Mike-Now opened #66 "Too many logs in the output"
Way too many logs are shown in the output for two operations: prepare and start.
The first "Extract ..." log appears during the prepare phase and two additional during the start phase.

The code that outputs the logs:

    PostgresStarter<PostgresExecutable, PostgresProcess> runtime =  PostgresStarter.getDefaultInstance();
    final PostgresConfig config = new PostgresConfig( V9_4,
        new Abs

[2017-02-25 00:15] athimel commented on #66
+1

I think an quick fix could be to use the Slf4j log appender instead of console appender in the DownloadConfigBuilder (not sure about the terms). And just comment the line `System.out.print('.')`

[2017-02-25 03:30] smecsia commented on #66
@Mike-Now  The problem now is that there's no unified logging approach in the library. And this approach has been inherited from `embed-process` library.
But you can configure logging properties using your `log4j.properties` and `logging.properties` files. And also you can change `progressListener` to your own ProgressListener implementation ([example](https://github.com/yandex-qatools/postgresql-

[2017-02-27 11:31] VladSergeev commented on #62
I am sorry that I answer so late.
Developer computers have version Windows 7.
Our CI\CD service are under Linux.

[2017-02-28 12:14] DmitryGlotov commented on #65
@smecsia it would be great if you provide these `ArtifactStore`, `ArtifactStoreBuilder` implementations

[2017-03-01 14:29] rolandrscheel opened #67 "PostgresProcess.stopInternal raises false alarm"
if (!waitUntilProcessHasStopped(5000)) {
                logger.severe("Postgres has not been stopped within 10s! Something's wrong!");
            }

will always issue a severe log entry, when the process actually has been successfully terminated, as waitUntilProcessHasStopped returns false when the process has stopped.

[2017-03-01 21:27] melezov opened #68 "Hardcoding of download URL needs to be grained on architecture level"
Latest download for 9.6.2 is `9.6.2-2` for Windows x64, but `9.6.2-1` for others.

[2017-03-02 09:40] smecsia commented on #67
@rolandrscheel omg, thank you! What a mess...

[2017-03-02 10:26] #67 closed

[2017-03-03 02:11] smecsia commented on #68
@melezov Thanks for the ticket. Not sure what `9.6.2-2` is, but all the archives are available for download using `9.6.2-1`. That is proven by the builds of the PR bumping the version to `9.6.2`.

[2017-03-03 05:08] #65 closed

[2017-03-03 05:10] smecsia commented on #66
@athimel @Mike-Now I've changed all loggers to use `slf4j`, so you can now easily configure the required severity using `slf4j` configuration ([link](https://github.com/yandex-qatools/postgresql-embedded#how-to-configure-logging))

[2017-03-03 05:10] #66 closed

[2017-03-03 05:12] smecsia commented on #65
@hbrackmann @DmitryGlotov I've added the requested implementations. [Here](https://github.com/yandex-qatools/postgresql-embedded#how-to-use-avoid-archive-extraction-on-every-run) you can find an example of how to configure the cached pg directory.

[2017-03-03 09:15] athimel commented on #66
@smecsia : Thanks a lot, sounds great !

[2017-03-06 20:41] melezov commented on #68
Hey @smecsia, while `9.6.2-1` may seem to work, `9.6.2-2` wasn't published without a reason, as it completely changes all compiled binaries. I'd still opt for adding fine-granularity to future-proof this.

[2017-03-06 20:45] melezov commented on #68
Other non `-1` downloads:

    Resolved actual URL for version 9.2 @ windows-x64: https://get.enterprisedb.com/postgresql/postgresql-9.2.20-2-windows-x64-binaries.zip
    Resolved actual URL for version 9.3 @ windows: https://get.enterprisedb.com/postgresql/postgresql-9.3.16-2-windows-binaries.zip
    Resolved actual URL for version 9.4 @ windows: https://get.enterprisedb.com/postgresql/postgresql

[2017-03-07 03:38] smecsia commented on #68
@melezov I actually didn't catch the reason why these files are required...
 Anyway you can always use your own version implementation. Something like:
[code]

[2017-03-07 16:47] artpass opened #72 "Problem with finding postgres.exe in cached dir under Windows"
Hi!

Method extractFileSet() can't match exe file name  with pattern as pattern slash is "/" while in filename it's "\\".
So, the process can't start. Evidently, there's no such problem in *nix systems.

Best regards,
artpass

[2017-03-08 12:36] #72 closed

[2017-03-14 09:34] tatiana-chukina commented on #62
Hello, I have the same problem. When I add config.getAdditionalInitDbParams(),
I receive an error
Failed to read PID file (File 'D:\postgresql-embed\db-content-92c14d55-f91a-44ed-8ec6-21984d199df0\postmaster.pid' does not exist)
And postgresql does not start. When I don't add init db params, all fine.
How can I solve it?

[2017-03-15 14:21] tdziurko commented on #72
This do not resolve the problem, still pattern matcher trying to find executable `postgres` file under Windows uses `\` instead of `/`and as a result fails without starting a database.

[2017-03-15 19:20] tdziurko opened #74 "PostgreSQL instance can not start due to missing postgresql.conf file (Windows 10)"
I have a strange problem with starting postgresql-embedded under Win10. It does not start and when I debug and captur exact command being called I got:

    C:\Users\Tomek\AppData\Local\Temp\postgresql-embed-a0a6c49c-5653-48c9-a992-98fd43979b88\pgsql\bin\postgres.exe
    -p 64582 -h localhost
    -D C:\Users\Tomek\AppData\Local\Temp\postgresql-embed-a0a6c49c-5653-48c9-a992-98fd43979b88\db-content-

[2017-03-16 01:08] smecsia commented on #72
@tdziurko I tested it under Windows 10 and it worked. Please make sure you're using the latest versin.

[2017-03-17 00:50] smecsia commented on #74
@tdziurko
1. This file is created by `initdb` command, which initializes a new database. postgresql-embedded typically initializes a new temporary database when test starts and then removes it after test has finished. So I assume you tried to run postgres against the removed database directory, that's why it could not find the configuration file.
2. It should not be related. That was just a repres

[2017-04-24 10:31] dstepanov opened #75 "Multiple "Extract" entries in log"
I see multiple "Extract" entries in log. Does it mean there is something incorrectly configured and postgres is extracted multiple times?

[code]

[2017-04-26 01:23] smecsia commented on #75
@dstepanov that's normal behavior. Embedded Postgres has to invoke several processes to prepare the database (pg_ctl, initdb, postgres). "embed-process" library invokes the archive extraction upon every execution, so this is an intended thing.
You can avoid multiple archive extraction by [providing the respective configuration](https://github.com/yandex-qatools/postgresql-embedded#how-to-avoid-arc

[2017-04-30 18:43] aadrian opened #76 "Make it Java 9 compatible"
Please make it work with Java 9 too.

Thank you.

[2017-05-02 01:44] smecsia commented on #76
As I can see, the only thing which does not work is the reflection hackery around the embed-process API.
This can be fixed by using our own implementation of ArtifactStore and DownloadConfig.
Will fix those things soon.

[2017-05-02 06:00] #75 closed

[2017-05-02 06:00] #76 closed

[2017-05-02 06:39] smecsia commented on #68
Closing due to no updates.

[2017-05-02 06:39] #68 closed

[2017-05-02 11:49] aadrian commented on #76
@smecsia Thank you !

[2017-05-05 08:12] shisholik opened #78 "EmbeddedPostgres#stop does not stop the database"
The function EmbeddedPostgres#stop only gets current process.

[2017-05-05 13:41] #78 closed

[2017-05-10 08:49] hoomb opened #80 "Failed to stop postgres by pg_ctl!"
I'm using this code to start Embedded Postgresql

[code]

But getting these Exceptions after completing the tests:

EDIT: Using latest Version 2.1 on MacOS

How can I solve the Shutdown Problem?

[2017-05-10 12:49] smecsia commented on #80
@hoomb at which moment are you calling `stopDatabase` method?

[2017-05-10 13:34] hoomb commented on #80
@smecsia on `cleanupClass` Method:

[code]

But even removing the stopDatabase line shows the Exception.

[2017-05-11 09:59] KoichiSenada opened #81 "AbstractPGProcess.<init> throws NullPointerException on Windows because PackagePaths.getFileSet returns incorrect pattern"
I have tested it with **postgresql-embedded-2.0** on Windows 10 x64, which downloads the following ZIP file.
http://get.enterprisedb.com/postgresql/postgresql-9.5.5-1-windows-x64-binaries.zip

On Windows method `ru.yandex.qatools.embed.postgresql.PackagePaths.getFileSet()` creates incorrect pattern `^.*pgsql\\bin\\postgres.exe$`
[code]

Then method `de.flapdoodle.embed.process.extract.AbstractExtr

[2017-05-12 02:42] smecsia commented on #81
@KoichiSenada Thanks! Can you please check the version from #82 ?

[2017-05-12 02:48] smecsia commented on #80
Actually I believe you can safely ignore those messages. They are releated to the race condition between the spring context shutting down and the application lifecycle.
I've pushed some fix though ( #82  ). Can you please test it and say if it helps?

[2017-05-12 08:00] hoomb commented on #80
Thank you for quick fixing the issue. I confirm that it works.

[2017-05-15 08:06] KoichiSenada commented on #81
@smecsia , thank you, I have checked out the pull request #82
[code]

But the `mvn install` command fails with the same `NullPointerException` at the same method `de.flapdoodle.embed.process.runtime.AbstractProcess.pidFile` called from the `ru.yandex.qatools.embed.postgresql.AbstractPGProcess.<init>` constructor.

[code]

Though, I have managed to install the snapshot while skipping tests with com

[2017-05-16 11:43] hoomb commented on #80
I must open this issue as your provided fix just suppresses the error message and not really fix the issue causing it.
For me is using EmbeddedPostgresql 2.1 in tests is not possible as the Postgresql Process cannot be terminated gracefully and the concurrent tests will compete with each other and cause to all tests to fail as the port is already in use.

[2017-05-19 01:25] smecsia commented on #80
Hmm. I'll try to debug this soon. For now you can use random ports in your tests (just as in the tests of this library)

[2017-05-25 08:27] shale99 commented on #81
Is it possible that this issue started back in 1.23?

[2017-05-26 02:06] smecsia commented on #81
@KoichiSenada can you please check version `2.2`?

[2017-05-31 13:36] edrdo opened #86 "Connection error on Windows during AppVeyor build"
Hi,

I've been using postgresql-embedded for tests in JDBDT (http://github.com/edrdo/jdbdt) without any problems on MacOS and Linux. I was just trying to enable AppVeyor continuous integration for Windows builds when I encounted some errors.

The way I use  postgresql-embedded is simple (full code here
 in https://github.com/edrdo/jdbdt/blob/master/src/test/java/org/jdbdt/postgresql/PostgreSQLSuit

[2017-06-01 03:19] edrdo commented on #86
I solved my problem for now using AppVeyor's built-in Postgres service, bypassing the use of postgresql-embedded. I saw your README more carefully and became aware of quite a few issues on Windows, maybe you can close this issue. Out of curiosity anyway, I forked your repository temporarily and I noticed your AppVeyor build also fails (on the psexec step).

[2017-06-01 17:01] smecsia commented on #86
@edrdo You're right, PostgreSQL (and therefore this library as well) has some limitations. The problem with Appveyor is that it runs builds under administrator by default and PostgreSQL cannot be started under privileged user. I tried to use psexec to force Appveyor to run builds under the limited user, but it was not successful.

[2017-06-10 18:30] golimpio commented on #26
It has been more than a year since we last look at this issue. I was the one that should gave you some feedback, but unfortunately I was unable to revisit this code until now.

Since the original issue (delete temp files) was fixed, I'm wondering if this issue can be closed already.

The second issue @zemudkram had raised (_java.lang.IllegalStateException: Shutdown in progress_) is a bit harder to

[2017-06-10 18:39] golimpio commented on #26
It would be useful if I could set the daemon process flag to false, so at the `Executable` constructor, the shutdown hook wouldn't be created (then I'd stop the service manually).

[code]

[2017-06-12 02:46] golimpio commented on #26
Also, I'm wondering if `de.flapdoodle.embed.process.runtime.ProcessControl.addShutdownHook(Runnable runable)` method could just ignore `IllegalStateException`.

Since the process is already being shutdown, adding a shutdown hook at this point is not possible and it wouldn't make much difference.

But then, it's a hard suggestion to make, since I'm only looking to my use case (it might help others,

[2017-06-13 13:51] Woworks commented on #80
Hi,
I'm having the same issue and don't know even how to workaround it. Is there any news on it?
Thanks!

[2017-06-19 15:24] jorgecara commented on #80
Same problem remains with version 2.2.

[2017-06-22 02:26] smecsia commented on #80
Hey guys, I've been on vacation for the last month. Now I'm back and ready to take a look at this. I'll try to reproduce in the following couple of days.
From what I can see now, it might be related to #26, so disabling "daemon process" might help. Can you please test the following runtime configuration?

[code]

[2017-06-22 02:27] smecsia commented on #26
@golimpio I'll try to debug this soon. For now you can try to disable "daemon process" option using the runtime configuration, like:

[code]

[2017-06-22 13:12] jorgecara commented on #80
I just tried and error remains.

Also if I disable daemon process I have to explicitly invoke postgres.stop(). Otherwise the embedded-postgres will remain running even after my application was stopped.

[2017-06-23 00:30] golimpio commented on #26
@smecsia Sorry, I think I forgot to mention it...

I've tried to disable the "daemon process" before, but it doesn't fully work:
- When the `PostgresProcess` constructor is called, the `public AbstractProcess(Distribution distribution, T config, IRuntimeConfig runtimeConfig, E executable)` will be called.
- Then you'll see a call to `this.onBeforeProcess(runtimeConfig);`
- Which will run `runCmd(c

[2017-06-23 00:32] golimpio commented on #26
I'm not sure, but perhaps the new `IRuntimeConfig` created by `PostgresProcess.runCmd(...)` should import the properties set on the original `RuntimeConfig` ?

[2017-06-23 02:41] smecsia commented on #26
@golimpio I see. Can you please test the version from #87 ?

[2017-06-23 05:53] golimpio commented on #26
@smecsia I think this change might break some tests if someone else is setting the "daemon process" to false already (e.g. `new RuntimeConfigBuilder().defaults(Command.Postgres).daemonProcess(false)...`

[code]

[2017-06-23 06:02] golimpio commented on #26
@smecsia Other than that, I haven't found any other issue.

If I don't set the `daemonProcess` to false, all tests will run and as expected I don't get the shutdown hook error.

[2017-06-27 08:10] Woworks commented on #80
I tried also and it didn't help either.

[2017-07-07 14:53] t9t opened #89 "Extract file set once"
I was quite surprised to see multiple entries of `Extract <tar.gz file> START` in my log output and thought the entire distribution was extracted multiple times, indicating some bug. But after some inspection, it seems like only one particular files is extracted each time.

However, `de.flapdoodle.embed.process.extract.AbstractExtractor#extract` allows to extract multiple files at once.

It would

[2017-07-13 06:41] smecsia commented on #89
@t9t Please take a look at [this section](https://github.com/yandex-qatools/postgresql-embedded#how-to-avoid-archive-extraction-on-every-run) of the readme. The extraction itself happens at once for the entire archive. It was a specific of `embed-process` library to extract the archive for every binary. But the way described in readme will help you to boost the process.

[2017-07-13 08:09] t9t commented on #89
My apologies, @smecsia. I thought I had made certain that I was using the latest version when testing it, but as it turns out I was using the latest version of 1.x, not 2.2. You are right, of course; when I upgraded to 2.2, it only extracts one and is much faster as a result.

[2017-07-13 08:09] #89 closed

[2017-07-13 18:17] BorzdeG opened #90 "The instance with different versions of the server does not work"
TestD.groovy :

[code]

output:
[code]

[2017-07-13 21:20] BorzdeG commented on #90
demo tests: https://github.com/BorzdeG/ru.itbasis.gradle.plugins.postgresql-embedded-plugin/blob/master/src/test/groovy/ru/itbasis/gradle/plugins/postgresql/PostgresqlEmbeddedPluginTest.groovy

[2017-07-18 15:57] BorzdeG commented on #50
`Could not delete pid file` fixed in PR https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/59 ...

[2017-07-19 11:07] KoichiSenada commented on #81
@smecsia , thank you, that helped!
This case is now solved.

[2017-07-19 13:28] #81 closed

[2017-07-26 08:39] #80 closed

[2017-07-28 11:52] raderio opened #96 "Mount database in RAM"
It is possible to mount database in RAM?

[Speedup unit tests by moving MySql data to memory](http://www.yiiframework.com/wiki/435/speedup-unit-tests-by-moving-mysql-data-to-memory-in-ubuntu/)

[2017-07-28 12:38] BorzdeG commented on #96
You can transfer any dataDir from the operating system when creating EmbeddedPostgres - even the one that is in RAM, if the OS can work with it as with a regular directory

`final EmbeddedPostgres postgres = new EmbeddedPostgres(V9_6, "/path/to/predefined/data/directory")`

[code](https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/ru/yandex/qatools/embed/postgresql/Emb

[2017-07-28 12:54] #90 closed

[2017-08-03 17:11] corydolphin commented on #6
As a follow up, is there anything that can be done to print out more detailed failure messages?

It took me a while to find this post to solve my problem. And a little longer to read it closely enough to notice the locale issue!

[2017-08-04 12:42] smecsia commented on #6
@corydolphin thanks for follow up. All available logging options and the locale configuration are mentioned in current readme. For the newer versions you don't need to configure locale yourself (it is done by default), so I don't think it is the case anymore.

[2017-08-10 16:56] archenroot commented on #96
@raderio - to be honest this is even preferred way from easier maintenance perspective. PostgreSQL is in default (not in RAM mode) and doesn't know the drive it uses is mounted RAM.

[2017-08-10 16:58] archenroot opened #97 "[question] Can I load extension into Embedded PostgreSQL"
I am interested in doing PostgreSQL laying on RAM disk with timescaleDB extension some benchmarks against Chronicle Map (off heap key value store) for timeseries data.

Can I load custom extensions into embedded db engine?

[2017-08-10 17:01] archenroot opened #98 "[question] Can I specify directory for Unix Socket listening?"
Related to my previous question. As I plan to do some hpc benchmarks with extension I also would like to disable TCP stack, or additionally enable Unix Sockets directory(ies) to prevent TCP overhead.

Is it possible?

Thanks.

[2017-08-10 17:14] archenroot commented on #98
This is little bit related to this extension for connectivity to PostgreSQL instance without TCP overhead, the work has been done at:
https://github.com/impossibl/pgjdbc-ng/issues/169

[2017-08-18 22:44] rpost opened #99 "Extraction caching not working"
Given such config:

[code]
it always extracts archive. Moreover console messages report extraction taking place 4 times:

[code]

According to my quick research https://github.com/yandex-qatools/postgresql-embedded/blob/master/src/main/java/de/flapdoodle/embed/process/store/CachedPostgresArtifactStore.java#L51 looks for `tmp/embedded-postgres/pgsql-9.6.3-1/bin` whereas existing path is `tmp/embedd

[2017-08-21 02:52] smecsia commented on #99
@rpost thank you for your report!

[2017-08-21 03:04] #99 closed

[2017-09-15 20:55] vietj opened #101 "Enable SSL"
Is there a recommended way to enable SSL when starting Postgres ?

this is the option "-l"

is there a way to pass it when the postgres arguments are built ?

[2017-09-15 21:25] vietj commented on #101
I was able to make it work using this work-around

[code]

[2017-09-15 21:26] vietj commented on #101
perhaps we could have something built-in ?

[2017-09-18 01:37] smecsia commented on #101
@vietj thanks for sharing. Yes I think it could be easily built-in into the library. Would you mind to send a PR for this?

[2017-10-20 14:57] geeknarrator opened #104 "Null pointer exception while trying to extract postgres linux distribution"
ownload PRODUCTION:Linux:B64 DownloadSize: 145452793
15:18:50Download PRODUCTION:Linux:B64 0% Download PRODUCTION:Linux:B64 0% 1% 2% 1% 3% 2% 3% 4% 4% 5% 5% 6% 6% 7% 7% 8% 8% 9% 9% 10% 10% 11% 11% 12% 12% 13% 13% 14% 14% 15% 15% 16% 16% 17% 17% 18% 18% 19% 19% 20% 20% 21% 21% 22% 22% 23% 23% 24% 24% 25% 25% 26% 26% 27% 27% 28% 28% 29% 29% 30% 30% 31% 31% 32% 32% 33% 33% 34% 34% 35% 35% 36% 36% 37%

[2017-10-20 19:25] karayv commented on #46
I had similar issue. Eventually I understood that I did not call `postgres.stop()`.
I needed to manually kill the hanging process occupied my port, added the `stop()` call to pre destroy callback and seems like it started to work.

However this is a question - what is done to make sure that the tool does leave hanging processes in OS.

[2017-10-24 03:38] smecsia commented on #46
@karayv if you're asking how we make sure that a process is killed once the Java process has exited, there is a [shutdown hook](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/runtime/AbstractProcess.java#L110), registered in embed-process library.

[2017-11-07 09:44] oilid opened #105 "Add possibility to pass additional command line arguments to the "PostgresProcess.export*" methods"
There is currently no possibility to specify additional arguments to the pg_dump command (for example to specify the export format by "--format=format"). This issue belongs to all PostgresProcess.export methods. An example how this could be implemented is already realized in the import method "importFromFileWithArgs" or "restoreFromFile".
This change request concerns to the following methods:
- Po

[2017-11-14 12:01] oilid opened #106 "Wrong order of cliArgs in PostgresProcess.restoreFromFile"
Currently the order from appending the additional optional command line arguments in PostgresProcess.restoreFromFile is wrong. The filepath / -name of the "pg_restore" command must be located as last param (as described for example here: https://www.postgresql.org/docs/9.6/static/app-pgrestore.html#AEN97925).

So the code in PostgresProcess.restoreFromFile must be written like this:
[code]

I just

[2017-11-14 15:21] oilid opened #107 "Add possiblity to check an error (exit code) of a postgres process command"
Currently it's not possible to check an error (exit code) of a postgres process command. The problem ist the code in PostgresProcess.runCmd returns a String returned by "logWatch.getOutput()". But the best option would be to return the value of "proc.waitFor()" which give us the exit code of the process. By convention, 0 indicates normal termination.
Im my concrete case I needed this exit code for

[2017-11-15 11:12] julianladisch opened #109 "Release postgresql-embedded-2.6 with security update #108"
@smecsia @qatools-ci Please release postgresql-embedded-2.6 with security update #108.

[2017-11-22 20:35] kazuki43zoo opened #110 "Does not work on Travis CI with 2.5(PostgreSQL 10)"
I've upgraded to 2.5 (=PostgreSQL 10). But it does not work.

See https://travis-ci.org/kazuki43zoo/mybatis-3/jobs/299145674#L3460-L3538

Note:
2.5 with PostgreSQL 9.6.5(`new EmbeddedPostgres(Version.V9_6_5)`) work fine.

[2017-11-22 20:40] kazuki43zoo commented on #110
Note: Work fine on Mac OS.

[2017-11-23 00:52] smecsia commented on #110
@kazuki43zoo I've tested your case in my local environment (Ubuntu 16.04) and can confirm the failure.  I haven't dug deeper, but your problem is that `initdb` of 10.1 fails with the following:
[code]
I've found a workaround: you're using `Paths.get("target/postgres")` as a cached directory. Changing this to `Paths.get(System.getProperty("java.io.tmpdir"), "pgembed")` fixes the problem,

Also I'd

[2017-11-23 01:26] kazuki43zoo commented on #110
@smecsia , Thanks for your comments.
A workaround is working fine!

[2017-12-07 17:43] vietj commented on #101
@smecsia will try to do it so, I haven't noticed your comment until today

[2017-12-07 17:49] vietj opened #112 "Impossible to start in Intellij IDEA under OSX"
On OSX, when I run from the CLI in Maven, it works fine.

When I run in Intellij the same tests (JUnit), I get:

[code]

any idea ?

[2017-12-20 11:02] jeremiehuchet opened #113 "Default temp directory not deleted on exit"
The default directory where the postgres binary is extracted is not deleted on exit despite of the following line:
https://github.com/yandex-qatools/postgresql-embedded/blob/a47e90f5da76a8bc21bb4ce946e8706373f451b6/src/main/java/ru/yandex/qatools/embed/postgresql/ext/SubdirTempDir.java#L27

[File#deleteOnExit()](https://docs.oracle.com/javase/8/docs/api/java/io/File.html#deleteOnExit--) documentat

[2017-12-20 14:28] julianladisch commented on #109
Resolved: https://github.com/yandex-qatools/postgresql-embedded/releases/tag/postgresql-embedded-2.6

[2017-12-20 14:28] #109 closed

[2017-12-21 08:46] pandey-vikesh opened #114 "security vulnerabilities in jar"
Hi Team,

I am using this jar in one of the projects in my organization. When i run the static code security analysis, it screams lot of vulnerabilities.
[ERROR] postgresql-embedded-2.6.jar: CVE-2014-0061, CVE-2016-0766, CVE-2014-0060, CVE-2014-0063, CVE-2014-0062, CVE-2014-0065, CVE-2014-0064, CVE-2014-0067, CVE-2016-0768, CVE-2014-0066, CVE-2015-5288, CVE-2007-4772, CVE-2015-5289, CVE-2007-2138,

[2017-12-21 10:09] AkshiGarg opened #115 "Problem working with windows."
Hi,

I tried using this library with Windows 10 as an administrator and faced the same issues as discussed by people earlier. When I restricted my privileges everything seems to work fine.

Although, the changes made by after https://github.com/yandex-qatools/postgresql-embedded/pull/29 merge request worked fine but future commits to the library reverted this change.

I am not willing to change my

[2017-12-22 13:33] jeremiehuchet commented on #113
Tip [How to use your custom version of PostgreSQL](https://github.com/yandex-qatools/postgresql-embedded#how-to-avoid-archive-extraction-on-every-run) acts as a workaround.

[2017-12-22 17:36] pandey-vikesh commented on #114
a gentle reminder.

[2017-12-28 11:52] mnorkin commented on #46
Can `deamonProcess` be a property to change, rather than building whole process configuration by yourself ?

[2018-01-01 14:37] Jazzepi commented on #115
I'm having the same issue. Hope a fix comes down the line sometime soon.

[2018-01-03 03:57] smecsia commented on #115
Hi @AkshiGarg , @Jazzepi , can you try to use the following workaround?

You need to modify the runtime configuration, which is used to start up all the Postgres commands by adding your custom `commandLinePostProcessor`. Like so:

[code]

[2018-01-03 04:05] smecsia commented on #114
Hi @pandey-vikesh, can you please be more specific? What are you using for the static code security analysis? Why is this important to you?
In any case this project is usually used for testing only, where security is not playing the key role.

[2018-01-03 04:45] Jazzepi commented on #115
I used the below code to test on my Windows 7 machine.

[code]

And this was the reply my system gave me.

[code]

[2018-01-03 04:46] smecsia commented on #113
Hi @jeremiehuchet . Looks like it is a bug in EmbeddedPostgres class, which is removing data only. Another issue is that by default it uses `CachedPostgresArtifactStore` which does not remove artifacts intentionally (to optimize the extracted artifacts usage).

I'll think about the proper way of solving this issue. You can now remove the directory manually as a workaround.

[2018-01-03 04:54] smecsia commented on #115
Thanks @Jazzepi . Can you also try  the following modification:
[code]

therefore the resulting command line would  be: `runas /trustlevel:0x20000 "cmd /c postgres arg1 arg2..."`

[2018-01-03 05:04] Jazzepi commented on #115
Made the change.
[code]

Here's the output.

[code]

[2018-01-03 05:05] Jazzepi commented on #115
Gotta hit the hay will check my emails tomorrow :)

[2018-01-04 08:48] pandey-vikesh commented on #114
we are using org.owasp maven plugin to run the static code security analysis. We are working for an organization where security vulnerabilities are taken very seriously and we cannot release our code having vulnerabilities in it. Yes you are correct by saying this project is used for tests only. I have created a separate maven module for bootstrapping the code with embedded postgres. Doing this wa

[2018-01-16 08:53] addmeaning commented on #110
Does ebmeddedPostgres.restoreFromFile() works on Travis? As far as I understand, the library uses flapdoodle to spin "pg_restore" process. Does the library provide "pg_restore" executable for Travis environment?

[2018-01-17 12:45] Restless-Anchoret opened #116 "Select for update doesn't work properly in embedded PostgreSQL"
Hi.

I found out, that performing "select for update" operation in two parallel transactions does not lock any of these transactions. So following update operations are performing simultaneously and it causes unexpected errors.

The same code works properly in real PostgreSQL database, so I suppose something works incorrectly in embedded PostgreSQL.

Can you help me, please?

[2018-01-19 13:10] acmesquita opened #117 "How to use lib with hibernate"
Hello,

I using this lib and I don't know how setting with hibernate, you can help me with this configuration?

[2018-01-22 15:19] Restless-Anchoret commented on #116
Sorry, I found the cause of this problem, and that was not Embedded PostgreSQL. Closing this issue.

[2018-01-22 15:19] #116 closed

[2018-01-28 13:53] Zemke commented on #46
@karayv makes a good point. You’ll want to make sure once your application has shut down your Postgres process has also stopped.
I encountered the problem related to multiple Postgres processes running. That was partly because they weren’t stopped and partly—since I’m running in a Spring Boot context—because the Spring application was run twice and thus started Postgres twice.

So, I’m pretty conf

[2018-02-06 20:49] x-hovo-x commented on #46
Have same problem with macos sierra, I am able to start it from the terminal after I extract the binaries. How to check if there is hanging process, which port ? name ?

[2018-02-08 16:14] pandey-vikesh commented on #115
@smecsia any update on this issue. I too have tried the above mentioned approach and ended up in the same problem. A little googling pointed  that it might be related to this:
https://community.oracle.com/thread/2066415?start=0
or
https://stackoverflow.com/questions/36447720/java-io-ioexception-cannot-run-program-set-createprocess-error-2-the-system

Though looking at it, it does not look up to be

[2018-02-14 12:49] smecsia commented on #115
@Jazzepi @pandey-vikesh sorry, mates, for the late response. I'm a bit busy at the moment, and as I pointed out earlier, Windows is a painful system for me, primarily, because I cannot test it right away and I have to set it up on a virtual environment every time for testing. I'll get back to you as soon as I have free time. But if you have any further investigations/PRs, do not hesitate to send t

[2018-02-15 10:13] dzmitryh opened #118 "Compliance with jdk9"
While migrating our service to jdk9 I see that internal lib(`de.flapdoodle.embed.process.runtime.Processes`) throws silent exception:

[code]

I think it is because of https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/57

So are there any plans to upgrade internal helper library to be complaint with jdk9 ?
Let me know is smth is unclear ;)

[2018-02-16 22:56] ljarman01 commented on #118
+1
 looks like the flapdoodle libs just got updated to 2.0.2 so they just need to be put up on maven central so that dep can be added here.

[2018-02-18 08:53] kulabun commented on #118
+1

[2018-02-20 13:14] #118 closed

[2018-02-23 19:58] tazle opened #121 "Version 2.7 not available in Maven Central"
It seems that version 2.7 has been tagged, but is not available on Maven Central. Is this intentional?

2.7 is not listed on the result list of e.g. http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22ru.yandex.qatools.embed%22%20AND%20a%3A%22postgresql-embedded%22.

[2018-02-26 12:46] tazle commented on #114
OWASP DependencyCheck probably misdetects postgresql-embedded as Postgres. @pandey-vikesh Could you please post the complete report from OWASP, especially the CPE that it assigns to the postgresql-embedded JAR.

[2018-02-26 12:50] tazle commented on #115
I ran into trouble with starting Postgres as Administrator on Windows too. I'm looking into using pg_ctl to work around the issue as demonstrated in https://github.com/yandex-qatools/postgresql-embedded/blob/8a3b0203a19c23a4f1cf13baa9cf6e4fd0111932/src/test/java/ru/yandex/qatools/embed/postgresql/TestPostgresWithPgCtl.java but the command line generated for pg_ctl seems to be subtly broken.

Shoul

[2018-02-26 16:17] tazle commented on #115
I opened PRs for two PoC patches for this. Please take a look.

[2018-02-27 10:13] julianladisch commented on #121
@smecsia Can you release 2.7 with security update #120 ? Thank you!

[2018-02-27 11:53] #115 closed

[2018-02-27 11:58] smecsia commented on #121
@tazle @julianladisch sorry mates, we're experiencing little troubles with our CI system at the moment, so I can't release it right now. I'll come back to you a bit later (hopefully by the end of this week).

[2018-03-02 20:46] ppine7 opened #125 "how to set default timezone for the embedded PG server?"
Hi,
Looks like by default, the timezone of the embedded PG server, on startup, is the System's default timezone, which in my case is EST.
Is it possible to configure the embedded PG server to use a different TZ as the default one? like UTC?

thanks!

[2018-03-03 01:20] smecsia commented on #121
Version 2.8 has been released

[2018-03-03 01:20] #121 closed

[2018-03-05 05:57] pandey-vikesh commented on #115
Thanks i will try this fix and will update you.

[2018-03-05 06:19] pandey-vikesh commented on #114
[owasp-dependency-check.zip](https://github.com/yandex-qatools/postgresql-embedded/files/1779693/owasp-dependency-check.zip)

PFA the OWASP report. i am using it against 2.6 version of this JAR. i am using postgres version 9.6 with it.

Hope this helps. And apologies for the delay in response.

Thanks
Vikesh

[2018-03-05 07:57] tazle commented on #114
The matching CPE for postgresql-embedded-2.6.jar is `cpe:/a:postgresql:postgresql:2.6` which means that DependencyCheck thinks postgresql-embedded-2.6.jar is PostgreSQL version 2.6 when it comes to matching against CVEs. You can imagine that there are many CVEs that are applicable to something like "PostgreSQL versions 9.2 and earlier", and 2.6 is certainly earlier than 9.2, so DependencyCheck get

[2018-03-08 05:36] pandey-vikesh commented on #114
thanks for comments. yes, i have suppressed those for the same reason that it is directly dependent on postgressql dependency. I will try to follow up with depdendency check. for now, we can resolve this ticket.

[2018-03-10 00:13] cobbzilla opened #127 "increase max_connections and other postgresql.conf options"
I'd like to increase the `max_connections` setting in the postgresql.conf file. I understand that on a first-run, this file will be created by `initdb`. Is there a way to adjust the config settings when (or after) the file is written, or in any case before starting the server process?

[2018-03-15 06:45] fredclose opened #128 "When do you plan to release version supporting 10.3 ?"
When do you plan to release version supporting 10.3 ?

[2018-03-26 11:40] julianladisch commented on #128
@smecsia Can you release 2.9 with security update #126 ? Thank you!

[2018-03-26 13:19] acommuni opened #129 "Postgresql master do not stop on windows"
When stopping the embedded postgtresql is does not stop.

It is due of the processid which is not the good one at stop.

During startup the method onAfterProcessStart is called and set the pid with the method : setProcessId. It reads postmaster.pid file in order to get postgresql pid and set processId attribute.

During the stop the method getProcessId is called.

       _public long getProcessId(

[2018-03-27 06:28] smecsia commented on #128
@fredclose @julianladisch version 2.9 has been released.

P.S. you can always choose custom postgres version on your side.

[2018-03-27 06:28] #128 closed

[2018-03-27 06:54] fredclose commented on #128
@smecsia what's the recommended way to use a custom version ?
Implement de.flapdoodle.embed.process.distribution.IVersion ?

[2018-03-27 10:48] julianladisch commented on #128
@fredclose Yes, unless `new EmbeddedPostgres("10.3")` is sufficient for you.
https://github.com/yandex-qatools/postgresql-embedded#how-to-use-your-custom-version-of-postgresql

[2018-03-27 10:59] julianladisch commented on #128
@smecsia : If a PostgreSQL release is available that fixes a security issue then there should be a postgresql-embedded release that defaults to that security fix. When I want to update the PostgreSQL version in some project I want to change the pom.xml only without altering the java code.

[2018-03-27 11:25] fredclose commented on #128
@julianladisch you can avoid changing the code by refering to the main version

[code]

[2018-04-13 13:07] sdeleuze commented on #110
Same error on Ubuntu 17.10.

[2018-04-18 18:48] jCalamari opened #130 "Running postgres-embedded in gitlab ci."
I am having difficulties with running the embedded version of postgres from within my test suit.
Here is the error I am getting:

[code]

This is how I instantiate the database:

[code]

And the environment variable in the gitlab ci config file is set to:

[code]

Does anyone have experience with running postgres in gitlab container and would like to shed some light on the issue?

Many thanks!

[2018-04-18 22:50] smecsia commented on #130
It looks like the container is using root user, which is a known limitation of Postgres server (please refer the respective section of a readme file for more info).
If you can start your process under unprivileged user, you should be fine.

[2018-05-28 08:26] saiya opened #132 "Update de.flapdoodle.embed.process to 2.0.3"
To improve JDK 10 compatibility, please update `de.flapdoodle.embed.process` to `2.0.3`.

Under 2.0.2, following stacktrace fills console:

[code]

See flapdoodle-oss/de.flapdoodle.embed.process#78 for details.

[2018-06-07 11:26] normenmueller opened #135 "Failed to read PID file"
Running on macOS with the [Postgres App](https://postgresapp.com/), I always get the following error:

[code]

Any ideas how to fix this one?

[2018-06-20 21:36] intrepidOlivia opened #136 ""Possibly failed to run initdb" - Windows"
I am trying to run tests using an embedded postgres server, but the process just hangs indefinitely after it extracts the archive and runs all the insert statements. There's one small Warning line that states `Possibly failed to run initdb`, but provides no further information about what went wrong or whether it _actually_ failed to run and if that's what the problem is. Is there any way I can deb

[2018-06-22 13:53] Reeebuuk commented on #135
I'm habing the same error. Using OSX 10.13.4.

[2018-06-26 09:14] tocology commented on #135
Actually, I don't know the exact way to fix this issue, but I had the same error.
I'm using this 'postgresql-embedded' to test my codes and the codes are working good even though the issue is occurring.

Anyway, I removed the all the 'postgresql-embed-**' folders like '/var/folders/lh/rdl1gz9n1w3c60p9wqy1_4j40000gn/T/postgresql-embed-8b80eefd-4d77-4930-a2b4-02c05b20a921' of your case. I think the

[2018-07-20 07:17] brainoutsource commented on #135
Same here, OS X 10.13.6

[2018-08-06 12:17] dspasojevic opened #137 "Configurable timeout when starting"
Hi,

In slower environments, we sometimes see the maximum number of trials reached when starting / creating the database.

Do you think it would be possible to make the number of trials / wait between trials configurable?

Thanks,
-Dan

[2018-08-16 08:22] RinatMoravia opened #139 "stop postgresql on shutdown not working"
Hi,

I add to my code:
 Runtime.getRuntime.addShutdownHook(new Thread(() => {
    postgres.stop()
  }))

I want postgres to stop when app stops. It does not happen.

I can see that stop is running, I'm getting to forceDelete - my temp folder.
It fails to delete my temp folder so it's trying to force delete on exist by adding it to shutdownhook (isn't it too late now?).
Then I get an exception that

[2018-08-23 19:36] corydolphin opened #140 "ETA on 2.10 release?"
Hello,

I saw in the README that 2.10 is mentioned as the latest version, but the release it not yet live on MavenCentral. It looks like 2.10 supports JDK 10 (which I'm very excited about). Is there an ETA on pushing the release?

Thanks,
Cory

[2018-08-28 02:52] ekoutanov commented on #132
Same here on version 2.9 on macos

[2018-08-28 02:53] ekoutanov commented on #132
and consider replacing the `e.printStackTrace()` calls that are sprinkled throughout the code base with proper logging

[2018-09-04 15:52] mdoering opened #142 "Cached server path fails to find PID on Unix"
I have used the embedded Postgres fine for a long time with the default temporary paths.
When I tried to switch to a cached server path it worked fine on OSX. But when I deployed the code to a unix machine it hang on the second subsequent call with the same path argument and could not find the postmaster.pid. This happens on the Ubuntu 16, 18 and CentOS 7.5

I have created a small [test class](htt

[2018-09-04 15:52] mdoering commented on #142
[code]

[2018-09-08 22:00] miwroblewski commented on #142
I do have the same issue. Did you guys found some workaround? Or the only option is to create pull request with fix?

[2018-09-09 20:13] mdoering commented on #142
No I didn't. Tried to use the System setting `de.flapdoodle.embed.io.tmpdir` but it's the same problem. We ended up not using a cached directory.

[2018-09-17 11:53] gofabian commented on #132
I am interested in getting to work embedded postgres with java 10. I am not sure whether this error actually is a problem. The database process is started anyway.

What has to be done to update embed.process to 2.0.3? Maybe I can contribute.. But I would like to know the current state.

Why does the existing pull request revert the version back to 2.0.2 in the second commit? https://github.com/yan

[2018-09-17 16:07] themasterchef commented on #142
We have just found the same issue in our setup. Caching the Postgres directory worked fine on our Macs (Sierra and High Sierra) but failed when we pushed our project to Jenkins (running Debian). Turning off the cache fixed it for us. (Obviously this isn’t ideal... but it works for now.)

[2018-09-22 13:59] heruan commented on #132
Same here, JDK 10.0.2 getting the exception.

[2018-09-22 15:01] heruan commented on #142
I'm getting the same error also without the cache, i.e.

[code]

[code]

[2018-09-25 10:54] Krigu commented on #142
I have the same issue with / without cache on an Ubuntu

[2018-10-01 15:19] stritti commented on #40
@smecsia could you provide a running example? Would be cool if the environment variables could be used.

[2018-10-02 23:58] alinbrici commented on #135
I've seen this issue when I had an external postgres running and the port was already taken.

[2018-10-12 07:05] ArchDev opened #145 "postgresql-embedded fails to start in travis environment"
Hi there, first of all, thx for your library it worked great for the last two years for me.

Currently, I have a public project which uses postgres-embedded and builds it at CI, but after some changes (probably in Travis ci agents), my test code cannot connect to Postgres on build machines. I cannot reproduce it locally and not sure how to get more information about what's going on.

Here is build

[2018-10-12 18:22] hannahsquier commented on #135
I am getting the same issue without external postgres running. The issue started when my computer restarted unexpectedly in the middle of running a test. I assume that the process was not shut down correctly, but I have not been able to fix it even after clearing caches.

[2018-10-15 18:32] hopkinsjason commented on #142
I've noticed this issue, but I found it to be a postgres process that had been left running.

You can validate this by either looking for the process issuing this command in linux:

```ps -ax | grep postgres```

Or try and find the running pid file in the same general area as the one that had been reported missing.  For example (using your error above):

[code]
if you get a result not in the direc

[2018-10-19 11:54] attila-kiss-it commented on #127
@cobbzilla : I have added a new feature on pull request #146 that enables the postgres executable configurations.

[2018-10-26 13:31] egraumann opened #147 "Cannot install extensions anymore..."
Until yesterday everything was working fine but since today there is a problem when running my tests because extensions cannot be installed anymore. In particular what is failing now is the trigrams extension. Error I see when running the test is: `ERROR: could not open extension control file "/private/var/folders/q3/bg5pfwhs0m7731_mmpvxd_rw0000gp/T/embedded-postgres/pgsql-10.3-1/pgsql/share/postg

[2018-10-29 09:23] egraumann commented on #147
for some reason, after restarting the Mac it all works fine again...

[2018-10-29 09:23] #147 closed

[2018-11-05 17:13] paplorinc commented on #140
@smecsia ?

[2018-11-08 15:04] ngocketit commented on #46
Any update on this? I still have this problem and couldn't figure out what's wrong with it.

[2018-11-08 15:11] ngocketit commented on #46
Nvm. I figured it out. It's because `localhost` is missing in `/etc/hosts`. So I added: `127.0.0.1 localhost` and it works.

[2018-11-09 12:30] ilkerc commented on #145
Somehow it did had to do with the base image I was using. Maybe it was missing some runtime libraries.. I left using alpine versions and ended up using ubuntu 16.04 with preinstalled jdk.

After all, it was able to execute initdb. While maven is being executed as root I created a new user and did installation & packaging using the unprivileged user.

Anyone having the same issue, I'll paste here t

[2018-11-14 12:31] Persi commented on #140
Are there any open issues which would block the current master from being released as Version 2.10? Otherwise an official release would be great, as migration to Java 11 is difficult otherwise.

[2018-11-27 09:17] mdoering opened #149 "Postgres 11.1 for Linux"
The latest stable 11 branch of postgres is not supported which is a big loss.
If EnterpriseDB continues to drop support for Linux can we switch to another binary distribution? The embedded server has been really nice for us to run continuous integration tests, but that requires linux.

[2018-12-03 07:31] alexeyvip opened #150 ""restoreFromFile" executes more hour"
Hello, i created dump
`pg_dump -h 192.168.0.11 -p 5432 --username postgres --no-password -d some -b -F c --file=my.dmp --no-owner --schema-only`
Dump file size is 5Mb
I startup my integration test with next:
[code]
and restoreFromFile executed more 1 hour, after that, i kill process.
Help me, how i can fix it?

[2018-12-03 07:51] alexeyvip commented on #150
The problem in dump format, i use "custom"(-F c). If i use plain (-F p) - all ok.
What happen with custom format?

[2018-12-05 07:58] jablonskidawid commented on #136
There is a problem with starting instance of postgres process.
Try to run embedded postgres manually. Run exec  C:\Users\USERNAME\.embedpostgresql\postgresql-9.6.8-1-windows-x64-binaries\pgsql\bin\initdb.exe.
I had message box with error due to missing library MSVCR120.dll and after installing it (https://www.microsoft.com/en-us/download/confirmation.aspx?id=40784) embedded prostgres started

[2018-12-05 13:13] sazzer commented on #132
I'm still getting the error on Java 11, though it doesn't seem to actually break anything. That's both on Linux (CircleCI) and on macOS.

[2018-12-06 14:00] Angeland commented on #149
Yup, in our project we are looking into dropping usage in exchange to running a container/pod for testing from https://hub.docker.com/_/postgres/

[2018-12-18 17:32] ThomasStubbe commented on #135
I'm having the same issue

[2018-12-20 07:44] dbardbar commented on #129
I'm also seeing this problem on Windows. My guess is due to the execution of the postgres.exe via the 'runas' command.
I considered hacking a solution by inheriting from PostgressPorcess and from EmbeddedPostgres and overwriting getProcessId() and perhaps some more methods. But this seems too fragile to me.
I'll probably do an even worse hack of implementing a shutdown hook myself that would read

[2018-12-27 00:28] LukeButters opened #153 "java.lang.NoSuchFieldException: handle thrown possible because of JDK11"
Hi when following the tutorial I get this exception:
[code]

[2018-12-27 04:51] LukeButtersFunnelback commented on #136
I wonder if it would be possible to detech if MSVCR120 is missing and print a warning, rather than have nothing printed to console and no error shown at all.

[2018-12-27 07:04] LukeButtersFunnelback commented on #129
That is what I will do in my tests until this is fixed.

[2018-12-27 10:45] pawel-kaminski-krk commented on #127
hi, why do you expose parameters as list, it is so confusing. I have to guess whether this should be asList("param", "value", "param2", "value2") or asList("param=value", "param2=value2").

cannot it be just a Map/Properties that will be transformed internally to something else???

[2018-12-27 11:03] pawel-kaminski-krk commented on #127
anyway I have hard time setting
[code]
looking at [AbstractPostgresConfig.java](https://github.com/yandex-qatools/postgresql-embedded/pull/146/files#diff-b69d62a4bab2cf6b469108b3b41bb831) it should be something like
`asList("-c", "max_replication_slots=1", "-c", "max_wal_senders=1", "-c", "wal_level=logical")`

but I still get errors `ERROR: replication slots can only be used if max_replication_sl

[2018-12-27 21:12] LukeButtersFunnelback opened #154 "Add start method which takes IRuntimeConfig without List<String> additionalParams"
Hi

Could a start method be added which looks like this:
[code]

So that it is possible to set it up like:
[code]

Otherwise I would have to copy the private static List `DEFAULT_ADD_PARAMS` into the calling class then pass in those arguments.

I guess the alternative would be to make `DEFAULT_ADD_PARAMS` public although if that is done it would need to be wrapped in a unmodifiable list.

[2018-12-28 02:45] LukeButtersFunnelback commented on #136
Perhaps what would also help is adding support for capturing the output of from the commands run or checking the exit code and printing what command failed. Currently under windows nothing is printed at all making debugging hard.

[2018-12-28 12:45] ThomasStubbe opened #155 "How to run this on a buildserver through jenkins (postmaster.pid does not exist)?"
Locally, everything works fine, but I need to be able to run this on a buildserver with jenkins. The server is not owned by us, and we do not have access to it, except through jenkins.

The EmbeddedPostgres is created with target/database as dataDir. This works locally.

For jenkins though, I get:

`
2018-12-28 13:39:32.634  WARN 28546 --- [           main] r.y.q.embed.postgresql.PostgresProcess

[2018-12-31 16:43] AleksanderBrzozowski commented on #155
Can you show your configuration? How exactly do you set folder?

[2019-01-17 10:54] littlewoo commented on #153
I see the same issue... It seems that the exception isn't thrown - it's caught and then printed to std.err.

[2019-01-20 21:30] LukeButters commented on #153
I think this might only matter on windows and so it might make sense to look for the field when the OS is windows.

[2019-02-01 08:37] tomgross commented on #135
There might be a leftover from another test. Try `sudo lsof -PiTCP -sTCP:LISTEN | grep "postgres"` on Mac.

[2019-02-10 22:07] JasonTsao commented on #155
Getting this problem as well

[2019-02-14 10:17] pablomusumeci commented on #132
Same here for JDK11

[2019-02-19 20:21] mcassano commented on #101
Interested in this, did this get a PR?

[2019-02-21 15:07] xisvaldo opened #156 "JSON functions support"
I'm using the version 2.10 and trying to run a query that uses jsonb functions (and casting some fields as required by PostgreSQL 10.6) and it is returning the following error:
[code]
The table contains a jsonb field, which is trying to be parsed as
[code]
Does anyone knows if it supports json functions/cast?

[2019-02-21 16:29] #156 closed

[2019-02-25 07:43] mdavydau commented on #153
Quick fix for current issue
`<dependency>
            <groupId>ru.yandex.qatools.embed</groupId>
            <artifactId>postgresql-embedded</artifactId>
            <version>2.10</version>
            <scope>test</scope>
            <exclusions>
                <exclusion>
                    <groupId>de.flapdoodle.embed</groupId>
                    <artifactId>de.flapdoodle.embed.process</artif

[2019-02-25 07:53] mdavydau opened #157 "Mac OS "No space left on device" on local tests"
Get FATAL on local tests.
[code]

### Quick Fix:
Stop local postgres and run tests – issue disappears.

[2019-02-26 14:00] gtsarenkov commented on #155
Similar issue under Jenkins in Windows environment.

Initialization is made using following code (it runs with no problem from console using same build script):
[code]
Log output
[code]

It could be an issue of privileged execution, but there is a lack of diagnostics information to confirm.

[2019-03-04 09:02] gtsarenkov commented on #155
After several days of debugging it was really privileged execution issue. To solve it I used pg_ctl to start PostgeSQL under Jenkins in Windows node. The example of using PgCtl can be found in `ru.yandex.qatools.embed.postgresql.TestPostgresWithPgCtl`.

Please note there several issues with this approach:
- additional parameters for postgres are ignored (only port and host are propagated).
- somet

[2019-03-04 11:59] firegate666 opened #158 "Download via SSL possible?"
When we start the postgres for the first time, it downloads the binaries

    http://get.enterprisedb.com/postgresql/postgresql-11.1-1-linux-x64-binaries.tar.gz

Is there any way to configure a download via https?

[2019-03-04 12:03] firegate666 opened #159 "Download of DB broken with 403"
When I start the db and it downloads, I'll get this error:

[code]

[2019-03-05 07:08] firegate666 commented on #159
Looks like Linux and Postgres 11 is not supported

[2019-03-05 07:08] #159 closed

[2019-03-16 13:25] srbala opened #160 "PgSQL version upgrade, Feb 14, 2019 releases"
https://www.postgresql.org/about/news/1920/ release has performance improvements and 70+ bug fixes

[2019-04-03 09:30] mdoering commented on #149
I am removing postgresql-embedded now from my project until this is solved. No way without pg11 on linux

[2019-04-05 10:17] #160 closed

[2019-04-05 10:28] smecsia commented on #149
@liias @mdoering thanks for your interest! Unfortunately I don't have enough time to maintain this project anymore. Your approach of using Test Containers as an alternative is the best bet. I strongly recommend it as the great alternative providing the best experience as I migrated to it myself (see updated Readme).

[2019-04-05 10:28] #149 closed

[2019-04-19 14:48] mfvanek commented on #136
I've faced with the same problem. Could you please increase priority of this issue?

[2019-06-03 11:26] dprajasekhar commented on #112
I am also facing same issue with win 10 . Code works perfectly with maven and fails when I run in the Intellij .

If some has any inputs do let me know .

[2019-06-05 10:16] liias commented on #149
As a note, another alternative is https://github.com/opentable/otj-pg-embedded which I will try out (I would like to start up postgres as fast as possible during code generation, so testcontainers is a bit slow for that)

[2019-06-06 11:35] ankurpathak opened #164 "Version.V11_1 Not Working"
I am on Ubuntu and I have following maven coordinates in my Spring Boot Project:
<dependency>
            <groupId>ru.yandex.qatools.embed</groupId>
            <artifactId>postgresql-embedded</artifactId>
            <version>2.10</version>
 </dependency>
and follwing Postgres configuration I am useing:
  System.out.println("-----------------------------Hello World--------------------------------

[2019-06-06 11:36] ankurpathak commented on #164
Lets add support for version V11.3 available at:
https://www.enterprisedb.com/advanced-downloads

[2019-07-11 12:50] Jim-Lin commented on #136
i solve it by the follows

1. download postgresql-windows.exe from official site
1. execute exe and wait it install requirement
    <img width="241" alt="01" src="https://user-images.githubusercontent.com/10204176/61051855-ae310b00-a41c-11e9-89b4-af14b43e0f66.png">
1. click Cancel
    <img width="276" alt="02" src="https://user-images.githubusercontent.com/10204176/61051863-b38e5580-a41c-11e9-8194

[2019-08-01 14:16] glickid commented on #142
Having the same issue, is there a solution?

java.io.FileNotFoundException: File '/tmp/postgresql-embed-d42a05e0-390c-47ff-ae4f-eb9a16909b83/db-content-cecf683a-033b-4b22-9393-db2dd7f798d4/postmaster.pid' does not exist
[17:10:37] 	at org.apache.commons.io.FileUtils.openInputStream(FileUtils.java:299)
[17:10:37] 	at org.apache.commons.io.FileUtils.readLines(FileUtils.java:1783)
[17:10:37] 	at org.

[2019-09-30 08:22] SButterfly commented on #153
fix https://github.com/yandex-qatools/postgresql-embedded/commit/7ed616e251dda4ca1f6b45217a9005f5128d7fd1

[2019-10-18 20:36] tovbinm commented on #153
@SButterfly are you folks planning to release this?

[2019-10-20 07:23] SButterfly commented on #153
@smecsia Could you please release new version?

[2019-10-28 07:51] SButterfly commented on #142
The same error...

[2020-01-06 09:49] bhadouriyanikhils commented on #114
Hello @vikeshpandey @tazle, first off Thanks for this post.
I have the same issue with **postgresql-embedded-2.9.jar** as the version is less than 9.2 and earlier, the tool is including this jar in owasp security issue list. Could you please let me know is it mandatory to suppress and if yes how do we do it? I used **Dependency Check** tool for checking jar files under owasp.

[2020-02-07 16:28] andreassiegel commented on #112
It works if you add additional environment variables to the run configuration of your tests:
[code]

![image](https://user-images.githubusercontent.com/13197892/74046689-4bfab180-49cf-11ea-9ec8-dca7351d1e35.png)

Also see this answer on Stack Overflow: https://stackoverflow.com/a/59736683/6418426